<div id="home">
    <section class="banner">
        <div class="row">
            <!-- <button type="button" class="btn btn-primary" ng-click="testTcc()">TEST TCC</button> -->
            <hr class="title-up"/>
            <h2 class="upper-case title">Alquila, juega y gana dinero</h2>
            <hr class="title-down"/>
            <span class="description">Comparte y juega millones de juegos para todas las consolas</span>
        </div>
        <div class="row search white-search">
            <div class="col-md-1"></div>
            <form class="col-xs-12 col-md-11" role="form" on-submit="find()" novalidate>
                <div class="col-xs-10 col-md-10 search-params">
                    <div class="col-xs-4 col-md-4 filter">
                        <input placeholder="Título..." ng-model="search.name" uib-typeahead="state for state in nameAutocomplete | filter:$viewValue">
                    </div>

                    <div class="col-xs-4 col-md-4 filter">
                        <ui-select ng-model="search.category" theme="bootstrap" class="selector">
                            <ui-select-match allow-clear placeholder="Categoría...">
                                {{$select.selected.name | limitTo:10}}{{$select.selected.name.length > 10 ? '...' : ''}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                <div ng-bind-html="category.name | highlight: $select.search"></div>
                                <img ng-src="{{category.whiteBase64}}" class="category">
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-xs-4 col-md-4 filter to-validate">
                        <ui-select validation ng-model="search.console" theme="bootstrap" class="selector text-center">
                            <ui-select-match allow-clear placeholder="Consola...">
                                <img ng-src="{{$select.selected.whiteBase64}}" class="gameConsole"/>
                            </ui-select-match>
                            <ui-select-choices repeat="console in consoles | filter: $select.search" class="text-center">
                                <div ng-bind-html="'' | highlight: $select.search"></div>
                                <img ng-src="{{console.whiteBase64}}" class="gameConsole">
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="col-xs-2 col-md-2 text-left">
                    <button type="submit" class="btn btn-tertiary"><i class="gc gc-turn-on"></i></button>
                </div>
            </form>
            <div class="col-md-1"></div>
        </div>
    </section>

    <most-played games="mostPlayed" previous="getPreviousGame()" next="getNextGame()"></most-played>
    
    <section id="how-it-works" class="how-it-works">
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-6 col-xs-6 path-right path-4h"></div>
            <div class="col-md-6 col-xs-6 path-left path-4h">
                <div class="square-box first"></div>
            </div>
            <div class="clearfix"></div>

            <h2 class="col-md-12 title">&iquest; Cómo <span class="game-font game-font-white">funciona</span> ?</h2>

            <div class="col-md-6 col-xs-6 path-right path-3h complete-2px-br"></div>
            <div class="col-md-2 col-xs-4 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>

            <div class="col-md-4 col-xs-4"></div>
            <div class="col-md-2 col-xs-2"><div class="square-box second"></div></div>
            <div class="col-md-2 col-xs-4 path-right path-top path-2h"></div>
            <div class="col-md-4 col-xs-2 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step first-step">
            <div class="col-md-6 col-xs-5">
                <div class="image"></div>
            </div>
            <div class="col-md-6 col-xs-7 right-blue-box text-left">
                <h2 class="title">
                    <div class="number-container"><img src="img/step-first.png" /></div>
                    Alquila tus <span class="game-font game-font-white">juegos</span>
                </h2>
                <ul>
                    <li>Registra tus juegos para que puedas alquilarlos.</li>
                    <li>Alquila tus juegos y gana DINERO.</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-8 path-right path-bottom path-3h complete-1px-bl complete-1px-br"></div>
            <div class="col-md-4 col-xs-2 path-left path-3h complete-1px-bl"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-xs-2 path-right path-2h complete-1px-br"></div>
            <div class="col-md-4 col-xs-8 path-left path-top path-2h complete-1px-tr"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step second-step">
            <div class="col-md-6 col-xs-8 left-blue-box text-left">
                <h2 class="title">
                    <div class="number-container"><img src="img/step-second.png" /></div>
                    Juega <span class="game-font game-font-white">nuevos</span> juegos
                </h2>
                <ul>
                    <li>Puedes pedir alquilado cualquier juego que esté registrado.</li>
                    <li>Paga el alquiler con tu saldo o tu tarjeta.</li>
                </ul>
            </div>
            <div class="col-md-6 col-xs-4">
                <div class="rectangle-box third"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-2 path-right path-3h complete-1px-br"></div>
            <div class="col-md-2 col-xs-4 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-2 col-xs-2"></div>
            <div class="col-md-4 col-xs-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-xs-2 path-right"></div>
            <div class="col-md-2 col-xs-4 path-right path-top path-4h"></div>
            <div class="col-md-2 col-xs-2 path-left path-4h complete-1px-bl"></div>
            <div class="col-md-4 col-xs-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-xs-12">
                <div class="mini-separator"></div>
            </div>
        </div>
        <div class="step third-step">
            <div class="row">
                <div class="col-md-2 col-xs-1"></div>
                <div class="col-md-8 col-xs-10">
                    <h2 class="title">
                        <div class="number-container ib"><img src="img/step-third.png" /></div>
                        <span class="game-font game-font-light-red">Relax</span>
                    </h2>

                    <div class="col-md-12 col-xs-12 description white no-padding-h">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-xs-12 no-padding-h">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 col-xs-12 no-padding-h">Nosotros nos encargamos de que los juegos lleguen a su destino.</div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12 col-xs-3">
                        <img src="img/home/how-it-works-send.svg" width="30px"/>
                    </div>
                    <div class="col-md-12 col-xs-9 no-padding-h description">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-xs-12 no-padding-h">Hacemos seguimiento con courrier inteligente de puerta a puerta</div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12 col-xs-3">
                        <img src="img/home/how-it-works-smart-courier.svg" width="25px"/>
                    </div>
                    <div class="col-md-12 col-xs-9 no-padding-h description">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 col-xs-12 no-padding-h text-center">
                            Los prestamos pueden ser desde una semana hasta un mes.
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12 col-xs-3">
                        <img src="img/home/how-it-works-limit.svg" width="30px"/>
                    </div>
                    <div class="col-md-12 col-xs-9 no-padding-h description">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 col-xs-12 no-padding-h">
                            Tu juegos están 100% asegurados desde que entran a la plataforma.
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-2 col-xs-1"></div>
            </div>
            <div class="col-md-12 col-xs-12 white-search">
                <button type="button" class="btn btn-primary" ui-sref="^.login" ng-if="currentUser == null">Inicia sesión</button>
                <button type="button" class="btn btn-primary" ui-sref="^.account.myGames" ng-if="currentUser != null">Carga tus juegos</button>
            </div>
            <div class="rectangle-box fourth"></div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="row choose-by-cat">
        <div class="col-md-8 col-xs-8 no-padding-left no-padding-right">
            <div class="col-md-12 text-center no-padding-left">
                <h2 class="title">
                    <span class="vertical"></span>
                    Elije por <span class="game-font game-font-dark-blue">categoría</span>
                </h2>
            </div>
            <div class="col-md-12 categories no-padding-left">
                <div id="home-category-{{$index}}" class="category text-center" ng-repeat="category in categories">
                    <img id="category-icon-{{$index}}" ng-src="{{getCategoryVector(category, $index)}}" ng-click="categoryChoosen($index, category.id)"/><br/>
                    <span>{{category.name}}</span>
                </div>
            </div>
        </div>
        <div class="games">
            <div class="game">
                <button class="btn previous"><i class="gc gc-arrow-up" ng-click="previousGameByCat()"></i></button>
                <game-rating image-archive="gamesByCat[catCounter].diamond" rating="gamesByCat[catCounter].rating" bg-color="light-red" class="info" ng-click="viewGame(gamesByCat[catCounter])"></game-rating>
                <button class="btn next"><i class="gc gc-arrow-down" ng-click="nextGameByCat()"></i></button>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Blog" size="100"></most-seen>
    <section class="contact-us">
        <div class="row">
            <form class="col-md-12 contact-form" role="form" on-submit="sendContactUs()" novalidate>
                <h2 class="title">&iquest;Quieres saber más de <span class="game-font game-font-white">Game</span>Club?</h2>
                <span class="description">Déjanos tu mail y nosotros te contactamos</span>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 valid-group">
                    <label ng-show="false">Nombre</label>
                    <input validation name="name" placeholder="Nombre..." ng-model="contactUs.name" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 valid-group">
                    <label ng-show="false">E-mail</label>
                    <input validation name="email" placeholder="E-mail..." ng-model="contactUs.email" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 valid-group">
                    <label ng-show="false">Teléfono</label>
                    <input validation name="phone" placeholder="Teléfono..." ng-model="contactUs.phone">
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 valid-group">
                    <label ng-show="false">Mensaje</label>
                    <textarea validation name="message" placeholder="Mensaje..." rows="6" ng-model="contactUs.message" required></textarea>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-4"></div>
                <div class="col-md-4 send-button">
                    <button type="submit" class="btn btn-secundary">Enviar</button>
                </div>
                <div class="col-md-4"></div>
            </form>
        </div>
    </section>
</div>
