<div id="home">
    <section class="row shortcut-links">
        <div class="col-md-4">
            <img src="img/gameclub-logo.png" height="70px"/>
        </div>
        <div class="col-md-8 text-right links">
            <nav>
                <li><button class="btn btn-primary"><span class="spacing">share&nbsp;&amp;&nbsp;play</span></button></li>
                <li><button class="btn btn-primary"><span class="upper-case">Preguntas</span></button></li>
                <li><button class="btn btn-primary"><span class="upper-case">Blog</span></button></li>
                <li><button class="btn btn-primary"><span class="upper-case">Inicia sesi&oacute;n</span></button></li>
            </nav>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="banner">
        <div class="row">
            <hr class="title-up"/>
            <h2 class="upper-case title">Si prestas, juegas</h2>
            <hr class="title-down"/>
            <span class="description">Comparte y juega millones de juegos para todas las consolas</span>
        </div>
        <div class="row search white-search">
            <div class="col-md-1"></div>
            <form class="col-md-11">
                <div class="col-md-10 search-params">
                    <div class="col-md-4 no-padding-right no-padding-left filter">
                        <input placeholder="T&iacute;tulo..."/>
                    </div>
                    <div class="col-md-4 no-padding-right no-padding-left filter">
                        <ui-select ng-model="type.selected" theme="bootstrap" class="selector">
                            <ui-select-match allow-clear placeholder="Categoría...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="type in ['Action','Adventure','Shooter','Mass Multiplayer','Simulation','RPG','Strategy','Sports'] | filter: $select.search">
                                <div ng-bind-html="type | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-md-4 no-padding-right no-padding-left filter">
                        <ui-select ng-model="gameConsole.selected" theme="bootstrap" class="selector text-center">
                            <ui-select-match allow-clear placeholder="Consola...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="gameConsole in ['PS4','XBOX ONE','NINTENDO SWITCH'] | filter: $select.search" class="text-center">
                                <div ng-bind-html="gameConsole | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-2 text-left">
                    <button class="btn btn-tertiary"><i class="fa fa-power-off "></i></button>
                </div>
            </form>
        </div>
    </section>
    <section class="row most-played">
        <div class="separator"></div>
        <div>
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="col-md-2"></div>
                <h2 class="col-md-8 title">Los m&aacute;s <span class="game-font-blue">jugados</span></h2>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-3"></div>
            <div class="clearfix"></div>
        </div>
        <div class="games">
            <div class="col-md-1 left"><div class="btn-most-played"></div></div>
            <div class="col-md-10 list">
                <div class="col-md-3" ng-repeat="game in mostPlayed">
                    <game-score src="game.url" score="game.score" ng-click="viewGameDetail(game)"></game-score>
                </div>
            </div>
            <div class="col-md-1 right"><div class="btn-most-played"></div></div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="how-works">
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-6 path-right path-4h"></div>
            <div class="col-md-6 path-left path-4h">
                <div class="square-box first"></div>
            </div>
            <div class="clearfix"></div>

            <h2 class="col-md-12 title">&iquest; C&oacute;mo <span class="game-font-white">funciona</span> ?</h2>

            <div class="col-md-6 path-right path-3h complete-2px-br"></div>
            <div class="col-md-2 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>

            <div class="col-md-4"></div>
            <div class="col-md-2"><div class="square-box second"></div></div>
            <div class="col-md-2 path-right path-top path-2h"></div>
            <div class="col-md-4 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step first-step">
            <div class="col-md-6">
                <div class="image"></div>
            </div>
            <div class="col-md-6 right-blue-box text-left">
                <h2 class="title">
                    <div class="number-container"><img src="img/step-first.png" /></div>
                    Consigue <span class="game-font-white">coins</span>
                </h2>
                <ul>
                    <li>Registra tus juegos para prestarlos. Gana COINS.</li>
                    <li>Presta tus juegos. Gana COINS.</li>
                    <li>Refiere a tus amigos para que se unan. Gana COINS.</li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 path-right path-bottom path-2h complete-1px-bl complete-1px-br"></div>
            <div class="col-md-4 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 path-right path-4h complete-1px-br"></div>
            <div class="col-md-4 path-left path-top path-4h complete-1px-tr"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step second-step">
            <div class="col-md-6 left-blue-box text-left">
                <h2 class="title">
                    <div class="number-container"><img src="img/step-second.png" /></div>
                    Juega <span class="game-font-white">nuevos</span> juegos
                </h2>
                <ul>
                    <li>Registra tus juegos para prestarlos. Gana COINS.</li>
                    <li>Presta tus juegos. Gana COINS.</li>
                    <li>Refiere a tus amigos para que se unan. Gana COINS.</li>
                </ul>
            </div>
            <div class="col-md-6"><div class="rectangle-box third"></div></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 path-right path-3h complete-1px-br"></div>
            <div class="col-md-2 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 path-right"></div>
            <div class="col-md-2 path-right path-top path-2h"></div>
            <div class="col-md-2 path-left path-2h complete-1px-bl"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="mini-separator"></div>
            </div>
        </div>
        <div class="step third-step">
            <div class="row">
                <div class="col-md-2"><div class="rectangle-box fourth"></div></div>
                <div class="col-md-8">
                    <h2 class="title">
                        <div class="number-container ib"><img src="img/step-third.png" /></div>
                        <span class="game-font-light-red">Relax</span>
                    </h2>

                    <div class="col-md-12 description white">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">Nosotros nos encargamos de que los juegos lleguen a su destino.</div>
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12"><img src="img/send.png" width="30px"/></div>
                    <div class="col-md-12 description">
                        <div class="col-md-1"></div>
                        <div class="col-md-10">Hacemos seguimiento con courrier inteligente.</div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12"><img src="img/smart-courier.png" width="25px"/></div>
                    <div class="col-md-12 description">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            Los prestamos pueden ser desde una semana hasta un mes.
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="col-md-12"><img src="img/limit.png" width="32px"/></div>
                    <div class="col-md-12 description">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 no-padding-left no-padding-right">
                            Tu juegos están 100% asegurados desde que entran a la plataforma.
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="col-md-12 white-search">
                <button class="btn btn-primary">Inicia sesión</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="row choose-by-cat">
        <div class="col-md-8 no-padding-left no-padding-right">
            <div class="col-md-12 text-center no-padding-left">
                <h2 class="title">
                    <span class="vertical"></span>
                    Elije por <span class="game-font-dark-blue">categor&iacute;a</span>
                </h2>
            </div>
            <div class="col-md-12 categories no-padding-left">
                <div class="category text-center" ng-repeat="category in categories" ng-class="category.active ? 'active' : ''">
                    <img ng-src="{{category.logo}}" ng-click="categoryChoosen(category, $index)"/><br/>
                    <span>{{category.name}}</span>
                </div>
            </div>
        </div>
        <div class="games">
            <div class="game">
                <div class="previous"></div>
                <game-score src="'img/test/game-1.png'" score="4" bg-color="light-red" class="info" />
                <div class="next"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="row blog">
        <h2 class="title game-font-light-blue">Blog</h2>
        <hr/>
        <div class="article-row">
            <div class="col-md-6" ng-repeat="blog in blogs">
                <blog-preview blog-id="blog.blogId" subtitle="blog.subtitle" desc="blog.desc" img-src="blog.imgSrc" date="blog.date" url="blog.url" />
            </div>
        </div>
        <blog-paging pages="5" current="currentBlogPage" class="paging"/>
    </section>
</div>
