
<div id="contact-us-page">
    <section class="contact-us">
        <div class="row">
            <form class="col-md-12 contact-form" role="form" on-submit="sendContactUs()">
                <h2 class="title">&iquest;Quieres saber m&aacute;s de <span class="game-font game-font-white">Game</span><span class="red-club">Club</span>?</h2>
                <span class="description">D&eacute;janos tu mail y nosotros te contactamos</span>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input validation name="name" placeholder="Nombre..." ng-model="contactUs.name" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input validation name="email" placeholder="E-mail..." ng-model="contactUs.email" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input name="phone" placeholder="Teléfono..." ng-model="contactUs.phone">
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <textarea validation name="message" placeholder="Mensaje..." rows="6" ng-model="contactUs.message" required></textarea>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-4"></div>
                <div class="col-md-4 send-button">
                    <button type="submit" class="btn btn-secundary">Enviar</button>
                </div>
                <div class="col-md-4"></div>
            </form>
        </div>
    </section>
    <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Blog" size="100"></most-seen>
</div>