<div id="blog">
    <section class="banner">
        <div class="row">
            <hr class="title-up"/>
            <h2 class="game-font game-font-white title">Blog</h2>
            <hr class="title-down"/>
        </div>
    </section>

    <section class="blog-panel left">

        <article class="row-left">
            <img src="img/test/blog-cover-01.png" />
            <div class="post-date">05 NOV</div>
            <div class="title">Algunos tipos para superar Halo 5...</div>
            <div class="tags">
                <span>Por: GAME CLUB</span>
                <div class="tag">Juegos XBOX</div>
                <div class="tag">Más jugados</div>
                <div class="tag">Games PS4</div>
            </div>
            <div class="description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
            <button class="btn btn-primary read-more">Leer m&aacute;s</button>
            <div class="social-media">
                Share:
                <a href><i class="gc gc-facebook"></i></a>
                <a href><i class="gc gc-instagram"></i></a>
                <a href><i class="gc gc-youtube"></i></a>
                <a href><i class="gc gc-twitter"></i></a>
            </div>
        </article>

        <article class="row-left">
            <img src="img/test/blog-cover-02.png" />
            <div class="post-date">09 NOV</div>
            <div class="title">Muchos gamers opinan lo mismo...</div>
            <div class="tags">
                <span>Por: GAME CLUB</span>
                <div class="tag">Juegos XBOX</div>
                <div class="tag">Más jugados</div>
                <div class="tag">Games PS4</div>
            </div>
            <div class="description">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </div>
            <button class="btn btn-primary read-more">Leer m&aacute;s</button>
            <div class="social-media">
                Share:
                <a href><i class="gc gc-facebook"></i></a>
                <a href><i class="gc gc-instagram"></i></a>
                <a href><i class="gc gc-youtube"></i></a>
                <a href><i class="gc gc-twitter"></i></a>
            </div>
        </article>

        <div class="row-left no-padding-left no-padding-right navegation">
            <div class="col-md-6 no-padding-left text-left">
                <a href><i class="gc gc-arrow-left previous"></i>Art&iacute;culo anterior</a>
            </div>
            <div class="col-md-6 no-padding-right text-right">
                <a href>Siguiente art&iacute;culo<i class="gc gc-arrow-right next"></i></a>
            </div>
        </div>

    </section>
    <section class="blog-panel right">

        <div class="row-right search">
            <input placeholder="Buscar..." /><span class="fa fa-search search-icon"></span>
        </div>

        <article class="row-right important">
            <h2 class="col-md-12 title">
                <span class="game-font game-font-light-red title-01">Articulos</span> <span class="title-02">destacados</span>
            </h2>
            <div class="clearfix"></div>

            <div class="col-md-12 no-padding-left no-padding-right article">
                <div class="col-md-4 no-padding-left no-padding-right image">
                    <game-rating src="'img/test/game-1.png'" no-rating/>
                </div>
                <div class="col-md-8 no-padding-right info">
                    <div class="title">LOREM IPSUM DOLOR SIT AMET</div>
                    <div class="description">
                        onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur
                    </div>
                </div>
            </div>

            <div class="col-md-12 no-padding-left no-padding-right article">
                <div class="col-md-4 no-padding-left no-padding-right image">
                    <game-rating src="'img/test/game-2.png'" no-rating/>
                </div>
                <div class="col-md-8 no-padding-right info">
                    <div class="title">LOREM IPSUM DOLOR SIT AMET</div>
                    <div class="description">
                        onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur
                    </div>
                </div>
            </div>

            <div class="col-md-12 no-padding-left no-padding-right article">
                <div class="col-md-4 no-padding-left no-padding-right image">
                    <game-rating src="'img/test/game-3.png'" no-rating/>
                </div>
                <div class="col-md-8 no-padding-right info">
                    <div class="title">LOREM IPSUM DOLOR SIT AMET</div>
                    <div class="description">
                        onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore onsectetur
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        </article>

        <article class="row-right categories">
            <h2 class="title">Categor&iacute;as</h2>
            <div class="subtitle">Etiquetas</div>

            <div class="tag">Juegos XBOX</div>
            <div class="tag">Games PS4</div>
            <div class="tag">Más jugados</div>
            <div class="tag">Video games</div>
            <div class="tag">Nintendo WII</div>
            <div class="tag">Games PSP</div>
            <div class="clearfix"></div>
        </article>

        <article class="row-right how-it-works">
            <div class="step first-step">
                <h2 class="title">
                    <div class="number-container"><img src="img/step-first.png" /></div>
                    Consigue <span class="game-font game-font-white">coins</span>
                </h2>
                <ul>
                    <li>Registra tus juegos para prestarlos. Gana COINS.</li>
                    <li>Presta tus juegos. Gana COINS.</li>
                    <li>Refiere a tus amigos para que se unan. Gana COINS.</li>
                </ul>
            </div>
        </article>

    </section>
    <div class="clearfix"></div>

    <section class="row preview-blog">
        <h2 class="title game-font game-font-light-blue">Lo m&aacute;s vistos</h2>
        <hr/>
        <div class="article-row">
            <div class="col-md-6" ng-repeat="blog in blogs">
                <blog-preview blog-id="blog.blogId" subtitle="blog.subtitle" desc="blog.desc" img-src="blog.imgSrc" date="blog.date" url="blog.url" />
            </div>
        </div>
        <blog-paging pages="5" ng-model="currentBlogPage" class="paging"></blog-paging>
    </section>
</div>
