<div id="home">
    <section class="banner">
        <div class="row">
            <h1 class="upper-case title">Coming Soon</h1>
            <span class="description">Intercambia juegos con la comunidad gamer m&aacute;s grande del Ecuador.</span>
        </div>
    </section>
    <section class="contact-us">
        <div class="row">
            <form class="col-md-12 contact-form" role="form" on-submit="sendContactUs()">
                <h2 class="title dark">Buscamos gamers</h2>
                <h2 class="title light">&iquest;Quieres saber m&aacute;s de <span class="game-font game-font-white">Game</span>Club?</h2>
                <span class="description">D&eacute;janos tu mail y participa para ser parte<br/>del lanzamiento de <span class="game-font">GAME</span>CLUB</span>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input validation name="name" placeholder="Nombre..." ng-model="contactUs.name" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input validation placeholder="Apellido..." ng-model="contactUs.lastName" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input name="birth" placeholder="Año de nacimiento..." ng-model="contactUs.birthDate">
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input name="city" placeholder="Ciudad..." ng-model="contactUs.cityLocation">
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input validation name="email" placeholder="E-mail..." ng-model="contactUs.email" required>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-4"></div>
                <div class="col-md-4 send-button">
                    <button type="submit" class="btn btn-secundary full">Enviar</button>
                </div>
                <div class="col-md-4"></div>

            </form>
        </div>
    </section>
    <section id="how-it-works" class="how-it-works">
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-6 path-right path-4h"></div>
            <div class="col-md-6 path-left path-4h">
                <div class="square-box first"></div>
            </div>
            <div class="clearfix"></div>

            <h2 class="col-md-12 title first">La comunidad <span class="game-font game-font-dark-blue">Gamer</span> del Ecuador</h2>

            <div class="col-md-6 path-right path-3h complete-2px-br"></div>
            <div class="col-md-2 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>

            <div class="col-md-4"></div>
            <div class="col-md-2"><div class="square-box second"></div></div>
            <div class="col-md-2 path-right path-top path-2h"></div>
            <div class="col-md-4 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step first-step">
            <div class="col-md-6">
                <div class="image"></div>
            </div>
            <div class="col-md-6 right-blue-box text-left">
                <i class="gc gc-step-one"></i>
                <span class="text1">Presta</span>
                <span class="text2">Juegos</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 path-right path-bottom path-2h complete-1px-bl complete-1px-br"></div>
            <div class="col-md-4 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 path-right path-4h complete-1px-br"></div>
            <div class="col-md-4 path-left path-top path-4h complete-1px-tr"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step second-step">
            <div class="col-md-6 left-blue-box text-left">
                <i class="gc gc-step-two"></i>
                <span class="text1">Juega</span>
                <span class="text2">Nuevos</span>
                <span class="text1">Juegos</span>
            </div>
            <div class="col-md-6"><div class="rectangle-box third"></div></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 path-right path-3h complete-1px-br"></div>
            <div class="col-md-2 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-2"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 path-right"></div>
            <div class="col-md-2 path-right path-top path-2h"></div>
            <div class="col-md-2 path-left path-2h complete-1px-bl"></div>
            <div class="col-md-4"></div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="mini-separator"></div>
            </div>
        </div>
        <div class="step third-step">
            <div class="row">
                <div class="col-md-2"><div class="rectangle-box fourth"></div></div>
                <div class="col-md-8">
                    <h2 class="title">
                        <span>TODAS</span>
                        <span>LAS</span>
                        <span>CONSOLAS</span>
                    </h2>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Blog" size="100" />
</div>
