<div id="login">
    <img class="signup-bg" src="img/login/pad-nintendo-switch.svg" />
    <section class="col-md-6 row-left signup">
        <form>
            <div class="col-md-12">
                <h2 class="title game-font">Reg&iacute;strate</h2>
            </div>
            <div class="col-md-12">
                <button class="btn btn-primary-alt btn-fb">Reg&iacute;strate usando&nbsp;&nbsp;&nbsp;<i class="fa fa-facebook"></i></button>
            </div>
            <div class="col-md-12">o</div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="name" placeholder="Nombre..." class="input-form"/>
            </div>
            <div class="col-md-1 image"><img src="img/contact-person.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="lastName" placeholder="Apellido..." class="input-form"/>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="email" placeholder="E-mail..." class="input-form"/>
            </div>
            <div class="col-md-1 image"><img src="img/contact-email.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="password" placeholder="Contraseña..." class="input-form"/>
            </div>
            <div class="col-md-1 image"><img src="img/contact-password.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input type="checkbox"/><span class="legal">Acepto los <a href>T&eacute;rminos y Condiciones</a></span>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button class="btn btn-primary-alt">Registrarme</button>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>
        </form>
    </section>
    <section class="col-md-6 row-right login">
        <form>
            <div class="col-md-12">
                <h2 class="title game-font">Inicia sesi&oacute;n</h2>
            </div>
            <div class="col-md-12">
                <button class="btn btn-tertiary btn-fb">Inicia tu sesi&oacute;n con&nbsp;&nbsp;&nbsp;<i class="fa fa-facebook"></i></button>
            </div>
            <div class="col-md-12">o</div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="email" placeholder="E-mail..."/>
            </div>
            <div class="col-md-1 image"><img src="img/contact-email.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <input name="password" placeholder="Contraseña..."/>
            </div>
            <div class="col-md-1 image"><img src="img/contact-password.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button class="btn btn-tertiary login">Iniciar sesi&oacute;n</button>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <a href>&iquest;Olvidaste tu contrase&ntilde;a?</a>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>
        </form>
    </section>
</div>
