<div id="login">
    <img class="signup-bg" src="img/login/pad-nintendo-switch.svg" />
    <section class="col-md-6 row-left signup">
        <form role="form" on-submit="signIn()" novalidate>
            <div class="col-md-12">
                <h2 class="title game-font">Reg&iacute;strate</h2>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-primary-alt btn-fb" ng-click="fbSignIn()" ng-if="!isFbSingIn">Reg&iacute;strate usando&nbsp;&nbsp;&nbsp;<i class="gc gc-facebook"></i></button>
                <span ng-if="isFbSingIn">Loading...</span> <!-- TODO: Reemplazar por spinner -->
            </div>
            <div class="col-md-12">o</div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="name" placeholder="Nombre..." class="input-form" ng-model="user.name" required>
            </div>
            <div class="col-md-1 image"><img src="img/contact-person.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="lastName" placeholder="Apellido..." class="input-form" ng-model="user.lastName" required>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="email" type="email" placeholder="E-mail..." class="input-form" ng-model="user.username" required>
            </div>
            <div class="col-md-1 image"><img src="img/contact-email.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="password" type="password" placeholder="Contraseña..." class="input-form" ng-model="user.password" required ng-minlength="6" ng-pattern="passRegex">
            </div>
            <div class="col-md-1 image"><img src="img/contact-password.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-primary-alt">Registrarme</button>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>
        </form>
    </section>
    <section class="col-md-6 row-right login">
        <form role="form" on-submit="login()" novalidate>
            <div class="col-md-12">
                <h2 class="title game-font">Inicia sesi&oacute;n</h2>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-tertiary btn-fb" ng-click="fbLogIn()" ng-if="!isFbLogIn">Inicia tu sesi&oacute;n con&nbsp;&nbsp;&nbsp;<i class="gc gc-facebook"></i></button>
                <span ng-if="isFbLogIn">Loading...</span> <!-- TODO: Reemplazar por spinner -->
            </div>
            <div class="col-md-12">o</div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="email" type="email" placeholder="E-mail..." ng-model="credentials.username" required>
            </div>
            <div class="col-md-1 image"><img src="img/contact-email.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10 to-validate">
                <input validation name="password" type="password" placeholder="Contraseña..." ng-model="credentials.password" required>
            </div>
            <div class="col-md-1 image"><img src="img/contact-password.svg"/></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <button type="submit" class="btn btn-tertiary login" ng-if="!isLoginIn">Iniciar sesi&oacute;n</button>
                <span ng-if="isLoginIn">Loading...</span> <!-- TODO: Reemplazar por spinner -->
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <a href ng-click="forgotPassword()">&iquest;Olvidaste tu contrase&ntilde;a?</a>
            </div>
            <div class="col-md-1"></div>
            <div class="clearfix"></div>
        </form>
    </section>
</div>


<!-- ********************* MODALS ********************* -->

<script type="text/ng-template" id="accountVerification.html">
    <div class="inmodal">
        <div class="modal-heading text-center">
            <h2>Verificación de la Cuenta</h2>
        </div>

        <div class="modal-body">
            <div class="form-group">
                <div class="col-md-12">
                    <span>Para poder acceder a su cuenta debe verificarla entrando a su correo y dando click en el enlace que le hemos enviado</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-primary" ng-click="ok()" ng-disabled="isLoading">Aceptar</button>
                </div>

                <div class="col-md-6 text-center">
                    <button type="button" class="btn btn-primary-alt" ng-click="resendVerification()" ng-if="!isLoading">Reenviar Correo</button>
                    <span ng-if="isLoading">Loading...</span> <!-- TODO: Reemplazar por spinner -->
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="facebookSignIn.html">
    <div class="inmodal">
        <div class="modal-heading text-center">
            <h2 class="tertiary"><i class="gc gc-facebook"></i></h2>
        </div>

        <div class="modal-body">
            <form role="form" on-submit="ok()" class="terms-form form-horizontal" novalidate>
                <div class="form-group text-center">
                    <input type="checkbox" ng-model="terms.status"><span class="legal">Acepto los <a ui-sref="{{link.termsConditions.route}}" ng-click="cancel()">{{link.termsConditions.name}}</a></span>
                </div>
                <div class="form-group text-center">
                    <div class="col-md-6">
                        <button type="submit" class="btn save"><span ng-if="!isSaving">OK</span><loading showing="isSaving" inline width="1em"/></button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn cancel" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="forgotPassword.html">
    <div class="inmodal">
        <div class="modal-heading text-center">
            <h2>Olvidé mi Contraseña</h2>
        </div>

        <div class="modal-body">
            <form role="form" on-submit="ok()" class="form-horizontal" novalidate>
                <div class="form-group">
                    <div class="col-md-12">
                        <span>Ingresa el correo eletrónico de tu cuenta y te enviaremos una contraseña temporal</span>
                    </div>
                </div>

                <div class="form-group to-validate">
                    <div class="col-md-12">
                        <label class="col-md-3 control-label">E-mail</label>
                        <div class="col-md-9">
                            <input validation type="email" name="email" class="input-form complete" ng-model="forgot.email" required>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 text-center">
                        <button type="submit" class="btn save">Enviar</button>
                    </div>

                    <div class="col-md-6 text-center">
                        <button type="button" class="btn cancel" ng-click="cancel()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="completeSignIn.html">
    <div class="inmodal">
        <div class="modal-heading text-center">
            <h2 class="tertiary"><i class="gc gc-person"></i></h2>
        </div>

        <div class="modal-body">
            <form role="form" on-submit="ok()" class="terms-form form-horizontal" novalidate>
                <div class="form-group text-center">
                    <input type="checkbox" ng-model="user.terms"><span class="legal">Acepto los <a ui-sref="{{link.termsConditions.route}}" ng-click="cancel()">{{link.termsConditions.name}}</a></span>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn cancel"><span ng-if="!isSaving">Continuar</span><loading showing="isSaving" inline width="1em"/></button>
                </div>
            </form>
        </div>
    </div>
</script>
