<div class="col-md-1"></div>

<div class="col-md-10">
	<div class="ibox">
		<div class="ibox-content">
			<div class="col-md-12 form-group" style="text-align: right;">
				<button type="button" class="btn btn-w-m btn-primary" ng-click="addConsole()">
					<i class="fa fa-plus" style="margin-right: 5px"></i>
					<span>Agregar Consola</span>
				</button>
			</div>

			<div class="col-md-12 form-group">
				<table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover">
					<col width="70%">
					<col width="15%">
					<col width="15%">

					<thead>
						<tr>
							<th>Nombre</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="console in consoles">
							<td>{{console.name}}</td>
							<td>{{console.status ? 'Activo' : 'Inactivo'}}</td>
							<td style="text-align: center;">
								<button type="button" class="btn btn-xs btn-warning" ng-click="editConsole(console)">
									<i class="fa fa-pencil"></i>
								</button>

								<button type="button" class="btn btn-xs" ng-class="console.status ? 'btn-success' : 'btn-primary'" ng-click="changeStatus(console)">
									<i class="fa fa-power-off"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="clearfix"></div>
		</div>
	</div>
</div>