@import url("/css/variables.less");

@media only screen and (max-width: 768px) {
	#blog hr.subtitle{width:22%!important;}
	#blog section.blog-panel.right .search{padding:0.5em!important;margin-bottom:1em!important;padding-right:@blog-padding-section-right;}
	#blog section.blog-panel.right .search .search-icon{color:@color-secundary!important;right:@blog-padding-section-right;top:0.25em!important;}
}