<div class="inmodal">
	<form class="form-horizontal" role="form" on-submit="save()" novalidate>
		<div class="modal-header">
			<i class="fa fa-eye modal-icon"></i>
			<h4 class="modal-title">Aprobaci&oacute;n</h4>
		</div>

		<div class="modal-body">
			<uib-tabset>
					<uib-tab heading="Datos de Transferencia">
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Monto</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.showAmount | currency:'$ ':2}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Beneficiario</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountFullName}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">N&#176; Documento</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountDocument}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Banco</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountBank}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">N&#176; Cuenta</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountNumber}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">E-Mail</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountEmail}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Tipo de Cuenta</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.accountIsSaving == true ? 'Ahorros' : 'Corriente'}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Estado</label>
							<div class="col-md-9" >
								<div class="col-md-9">
									<ui-select validation ng-model="amtRequest.requestStatus" theme="bootstrap" required ng-if="!hidden">
										<ui-select-match allow-clear placeholder="Seleccione...">{{$select.selected.name}}</ui-select-match>
										<ui-select-choices repeat="amtRq in amountRequestCatalog | filter: $select.kit">
											<div ng-bind-html="amtRq.name | highlight: $select.kit"></div>
										</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div class="col-md-9 control-info" ng-if="hidden">
								<span>PAGADO</span>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Archivos Adjuntos">
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">N&#176; C&eacute;dula</label>
							<div class="col-md-9 control-info">
								<div class="col-md-9 control-info">
									<span>{{amtRequest.accountDocument}}</span>
								</div>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Descargar C&eacute;dula</label>
							<div class="col-md-9 control-info">
								<div class="col-md-5">
									<a class="btn btn-w-m btn-primary" ng-href="{{urlRestPath + '/api/amountRequest/downloadIdentityPhoto/' + amtRequest.id}}" target="_blank">Descargar</a>
								</div>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Descargar Factura</label>
							<div class="col-md-9 control-info">
								<div class="col-md-5">
									<a class="btn btn-w-m btn-primary" ng-href="{{urlRestPath + '/api/amountRequest/downloadBillPhoto/' + amtRequest.id}}" ng-disabled="disable" target="_blank">Descargar</a>
								</div>
							</div>
						</div>
					</uib-tab>
					<uib-tab heading="Retiro Factura">
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Provincia</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.locationDestiny.parent.name}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Ciudad</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.locationDestiny.name}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">Direcci&oacute;n</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.address}}</span>
							</div>
						</div>
						<div class="form-group to-validate">
							<label class="col-md-3 control-label">N&#176; Telef&oacute;nico</label>
							<div class="col-md-9 control-info">
								<span>{{amtRequest.contactPhone}}</span>
							</div>
						</div>
					</uib-tab>

				</uib-tabset>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-w-m btn-primary" ng-if="!hidden">Guardar</button>
					<button type="button" class="btn btn-w-m btn-default" ng-click="cancel()">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
</div>