<div class="ibox">
	<div class="ibox-content">
		<div class="col-md-12 form-group">
			<div class="col-md-2 avatar-result" ng-repeat="avatar in avatars" ng-class="avatar.status ? 'active' : 'inactive'">
				<i class="fa fa-check-circle-o" ng-click="changeStatus(avatar)"></i>
				<image-upload ng-model="avatarFile" archive="avatar.image" not-visible disabled></image-upload>
			</div>
			<div class="col-md-2 new-avatar">
				<div id="avatar" ng-click="addAvatar()">
					<img src="img/add-avatar.svg" />
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<style>
	#avatar{border:5px dashed #CCCCCC;cursor:pointer;padding:10%;text-align:center;width:100%;}
	#avatar img{width:100%;}
	.avatar-result{padding-bottom:1.5em;padding-top:1.5em;}
	.avatar-result>i{cursor:pointer;font-size:3em;position:absolute;right:0;top:0;z-index:1;}
	.avatar-result div.image-upload{padding:0;}
	.avatar-result div.image-upload img.img-upload{cursor:default!important;}
	.avatar-result.inactive div.image-upload img.img-upload{opacity:0.25;}
	.active i{color:#5CB85C;}
	.inactive i{color:#E43345;}
	.new-avatar{padding-top:1.5em;}
</style>
