<div class="blog-home">
	<div class="article-section col-md-12">
		<div class="col-md-4"></div>
		<div class="col-md-8 col-xs-12">
			<article-preview ng-repeat="article in blogs" ng-model="article"></article-preview>
		</div>
		<div class="clearfix"></div>
	</div>

	<div class="col-md-12 no-padding-h">
		<div class="col-md-4"></div>
		<div class="col-md-8 col-xs-12">
			<blog-navigation pages="totalPagesHome" active-page="currentPageHome"></blog-navigation>
		</div>
		<div class="clearfix"></div>
	</div>
</div>