<!-- BLOG TEMPLATE START -->
<div id="blog" class="">

    <!-- BANNER SECTION -->
    <div class="row">
        <section class="banner">
            <div class="row">
                <hr class="title-up"/>
                <a ui-sref="levelapBlog.blog.home"><div class="title">Blog</div></a>
                <hr class="title-down"/>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>

    <!-- MAIN DISTRIBUTION-->
    <div class="col-md-12 no-padding-h">
        <div class="col-md-6 col-xs-12 left-panel xs-panel">
            <!-- LEFT SECTION -->
            <div class="">
                <section class="blog-panel left responsive">
                    <div ui-view></div>
                </section>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 right-panel xs-panel">
            <!-- RIGHT SECTION -->
            <div class="">
                <section class="blog-panel right responsive">

                    <!-- SEARCH POST -->
                    <div class="search">
                        <input placeholder="Buscar..." ng-model="search.value" ng-keyup="$event.keyCode == 13 && searchInBlog(search.value)"/>
                        <span class="fa fa-search search-icon" ng-click="searchInBlog(search.value)"></span>
                    </div>

                    <!-- SHOW IMPORTANT BLOGS -->
                    <div class="important">
                        <h2>Art&iacute;culos <span class="normal">destacados</span></h2>
                        <hr class="subtitle" />
                        <article ng-repeat="article in importantBlogs">
                            <div class="rhombus col-md-4 col-xs-5">
                                <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                                    <clipPath id="diamond">
                                        <path d="M45 10 L10 45 C10 45 5 50 10 55 L45 90 C45 90 50 95 55 90 L90 55 C90 55 95 50 90 45 L55 10 C55 10 50 5 45 10 z" fill="rgba(255, 255, 255, 0)"></path>
                                    </clipPath>
                                    <clipPath id="border">
                                        <path d="M47 3 L3 47 C3 47 0 50 3 53 L47 97 C47 97 50 100 53 97 L97 53 C97 53 100 50 97 47 L53 3 C53 3 50 0 47 3 z" fill="rgba(255, 255, 255, 0)"></path>
                                    </clipPath>
                                    <image width="100" height="100" xlink:href ng-href="{{diamondBorderImg}}" ng-style="getClipPath('border')" style="cursor: pointer;" ng-click="goToDetails(article)"></image>
                                    <image width="100" height="100" xlink:href archive="article.diamond" ng-style="getClipPath('diamond')" style="cursor: pointer;" ng-click="goToDetails(article)">
                                </svg>
                                
                                <!-- <svg width="100%" height="100%" viewBox="0 0 100 100" preserveAspectRatio="none">
                                    <defs>
                                        <pattern id="border" patternUnits="userSpaceOnUse" width="100" height="100">
                                            <image xlink:href="" ng-href="{{diamondBorderImg}}" width="100" height="100" />
                                        </pattern>
                                        <pattern id="cropped_{{article.id}}" patternUnits="userSpaceOnUse" width="100" height="100">
                                            <image archive="article.diamond" xlink:href="" width="100" height="100" />
                                        </pattern>
                                    </defs>
                                    <path d="M47 3 L3 47 C3 47 0 50 3 53 L47 97 C47 97 50 100 53 97 L97 53 C97 53 100 50 97 47 L53 3 C53 3 50 0 47 3 z" style="fill: url(#border)"></path>
                                    <path d="M45 10 L10 45 C10 45 5 50 10 55 L45 90 C45 90 50 95 55 90 L90 55 C90 55 95 50 90 45 L55 10 C55 10 50 5 45 10 z" style="fill: url(#cropped_{{article.id}}); cursor: pointer;" ng-click="goToDetails(article)"></path>
                                </svg> -->
                            </div>

                            <div class="col-md-8 info" ng-click="goToDetails(article)">
                                <h2 title="{{article.title}}">{{article.title | limitTo: 18}}{{article.title.length > 18 ? '...' : ''}}</h2>
                                <div class="description">
                                    <p>{{article.summary | limitTo:200}}{{article.summary.length > 200 ? '...' : ''}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>

                    <!-- SHOW CATEGORIES -->
                    <div class="categories" ng-if="categories.length > 0">
                        <h2>Categor&iacute;as</h2>
                        <hr class="subtitle" />
                        <div class="tag" ng-repeat="category in categories"><span>{{category.text}}</span></div>
                    </div>

                    <!-- SHOW TAGS -->
                    <div class="tags-section" ng-if="tags.length > 0">
                        <h2>Etiquetas</h2>
                        <hr class="subtitle" />
                        <div class="tag" ng-repeat="tag in tags" ng-click="searchInBlog(tag.text)"><span>{{tag.text}}</span></div>
                    </div>

                    <!-- HERE TO PUT EXTRA INFORMATION -->
                    <div class="extra-info">
                        <h2 class="icon-section">
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                        </h2>
                        <h2 class="question">
                            &iquest;Quieres escribir art&iacute;culos<br>para el blog de <span class="game-font">Game</span><span class="game-font-light-red">Club</span>
                        </h2>
                        <div class="info">
                            Comparte tu conocimiento gamer.
                        </div>
                        <label>Escribe tus artículos a</label>
                        <a href="mailto:blog@gameclub.com.ec">
                            <input placeholder="blog@gameclub.com.ec" ng-disabled="true"/>
                        </a>
                    </div>

                </section>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- DIRECTIVE OF MOST SEEN -->
        <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Lo más visto" size="100"></most-seen>
    </div>
    <!-- BLOG TEMPLATE END -->
</div>
