<div id="profile">
    <section class="row header">
        <div class="col-md-4"></div>
        <div class="col-md-8 no-padding-left no-padding-right">
            <div class="col-md-10 name">
                <div class="col-md-3 no-padding-left no-padding-right">
                    <img id="avatar_img" archive="currentUser.avatar" placeholder="img/test/profile-pic.png" ng-src="{{file.base64}}">
                </div>
                <div class="col-md-9">
                    <h2 class="title">{{currentUser.name}} {{currentUser.lastName}}</h2>
                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="connection">&uacute;ltima vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
                    </div>
                    <button class="btn btn-tertiary full small" ng-click="changeAvatar()">Cambiar avatar</button>
                    <input id="avatar_input" type="file" ng-model="file.avatar" file-model ng-hide="true">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 completed">
                Usuario completado: <span>{{getFullPercentaje()}}%</span>
            </div>
            <p class="col-md-12 description">
                Completa los 3 niveles de registro para poder navegar en toda la plataforma, pedir prestado cualquier juego y ganar 100 coins mensuales.
            </p>
            <div class="col-md-12 check-list">
                <li><div class="box" ng-class="getInfoPercentage() >= 100 ? 'checked' : ''"></div><span>Completa tu informaci&oacute;n de contacto</span></li>
                <li><div class="box" ng-class="getIdentityPercentage() >= 100 ? 'checked' : ''"></div><span>Completa tu verificaci&oacute;n de identidad</span></li>
                <li><div class="box" ng-class="currentUser.numberOfGames > 0 ? 'checked' : ''"></div><span>Mant&eacute;n m&iacute;nimo un juego cargado en la WEB</span></li>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="row contact-information">
        <form role="form" on-submit="save()" novalidate>
            <div class="completed">
                <span class="col-md-12 percent">{{getInfoPercentage()}}%</span>
                <span class="col-md-12">Informaci&oacute;n de contacto</span>
                <div class="col-md-12">
                    <button type="submit" class="btn btn-tertiary full small" ng-if="isEditable">Guardar perfil</button>
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-tertiary small" ng-click="editInfo()">{{isEditable ? 'Volver' : 'Editar perfil'}}</button>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-8 form">
                <div class="col-md-12 to-validate">
                    <label>N&uacute;mero de c&eacute;dula</label>
                    <input validation placeholder="171143229805" ng-disabled="!isEditable" ng-model="currentUser.document" ci-required>
                </div>
                <div class="col-md-12 to-validate">
                    <label>Fecha de nacimiento</label>
                    <date-selector validation ng-model="currentUser.birthDate" ng-disabled="!isEditable">
                </div>
                <div class="col-md-12 to-validate">
                    <label>Ocupaci&oacute;n</label>
                    <input validation placeholder="Estudiante - Programador" ng-disabled="!isEditable" ng-model="currentUser.profession"/>
                </div>
                <div class="col-md-6">
                    <label class="col-xs-12 col-md-4">Provincia</label>
                    <div class="col-xs-12 col-md-8">
                        <ui-select ng-model="currentUser.province" theme="bootstrap" class="selector" ng-disabled="!isEditable" on-select="currentUser.location = null">
                            <ui-select-match allow-clear>{{$select.selected.name | limitTo:10}}{{$select.selected.name.length > 10 ? '...' : ''}}</ui-select-match>
                            <ui-select-choices repeat="province in provinces | filter: $select.search">
                                <div ng-bind-html="province.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-6">
                    <label class="col-xs-12 col-md-4">Ciudad</label>
                    <div class="col-xs-12 col-md-8">
                        <ui-select ng-model="currentUser.location" theme="bootstrap" class="selector" ng-disabled="!isEditable">
                            <ui-select-match allow-clear>{{$select.selected.name | limitTo:10}}{{$select.selected.name.length > 10 ? '...' : ''}}</ui-select-match>
                            <ui-select-choices repeat="city in currentUser.province.children | filter: $select.search">
                                <div ng-bind-html="city.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-md-12 to-validate">
                    <label class="col-xs-12 col-md-2">Direcci&oacute;n</label>
                    <div class="col-xs-12 col-md-10">
                        <input validation type="address" placeholder="Para poder entregar/recoger juegos" ng-disabled="!isEditable" ng-model="currentUser.firstAddress">
                    </div>
                </div>
                <div class="col-md-12 to-validate">
                    <label class="col-xs-12 col-md-4">Persona de recepci&oacute;n 1</label>
                    <div class="col-xs-12 col-md-8">
                        <input validation type="person" placeholder="Persona quién recojerá/entregará los juegos en dirección 1" ng-disabled="!isEditable" ng-model="currentUser.firstReceiver">
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-xs-12 col-md-4 separator">Horas de preferencia, <small>para entrega y retiro de juegos 2</small></label>
                    <div class="col-xs-12 col-md-4">
                        <time-selector ng-model="contactInfo.firstReferenceTimeStart" ng-disabled="!isEditable" placeholder="Mañana"/>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <time-selector ng-model="contactInfo.firstReferenceTimeStart" ng-disabled="!isEditable" placeholder="Tarde"/>
                    </div>
                </div>
                <div class="col-md-12 to-validate">
                    <label class="col-xs-12 col-md-2">Direcci&oacute;n 2</label>
                    <div class="col-xs-12 col-md-10">
                        <input validation type="address" placeholder="En caso de no poder entregar/recojer de la direccíon 1" ng-disabled="!isEditable" ng-model="currentUser.secondAddress">
                    </div>
                </div>
                <div class="col-md-12 to-validate">
                    <label class="col-xs-12 col-md-4">Persona de recepci&oacute;n 2</label>
                    <div class="col-xs-12 col-md-8">
                        <input validation type="person" placeholder="Persona quién recojerá/entregará los juegos en dirección 2" ng-disabled="!isEditable" ng-model="currentUser.secondReceiver"/>
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="col-xs-12 col-md-4 separator">Horas de preferencia, <small>para entrega y retiro de juegos 2</small></label>
                    <div class="col-xs-12 col-md-4">
                        <time-selector ng-model="contactInfo.firstReferenceTimeStart" ng-disabled="!isEditable" placeholder="Mañana"/>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <time-selector ng-model="contactInfo.firstReferenceTimeStart" ng-disabled="!isEditable" placeholder="Tarde"/>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>
    </section>
    <section class="contact-means">
        <div class="row completed">
            <div class="col-md-3 text-right"><span class="percent">{{getIdentityPercentage()}}%</span></div>
            <div class="col-md-9">
                <span class="subtitle">
                    <img src="img/lock-icon.svg" /><span>Verificaci&oacute;n de identidad</span>
                </span>
                <button type="button" class="btn btn-tertiary full small" ng-if="isEditableMean">Guardar info</button>
                <button type="button" class="btn btn-primary small" ng-click="editContactMean()">{{isEditableMean ? 'Volver' : 'Actualizar info'}}</button>
                <span class="description">Verificar estos tres campos para poder ser un usuario 100% confiable.<br>Si lo haces recibes 10 coins.</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row icons">
            <div class="col-xs-12 col-md-4">
                <i class="gc gc-phone"></i>
            </div>
            <div class="col-xs-12 col-md-4">
                <i class="gc gc-mail"></i>
            </div>
            <div class="col-xs-12 col-md-4">
                <i class="gc gc-facebook"></i>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row form">
            <div class="col-xs-12 col-md-4">
                <form class="col-xs-12 col-md-12">
                    <input placeholder="09985361013" />
                    <button class="btn btn-primary full small">Verificar</button>
                    <span>Se te enviar&aacute; un SMS<br>con un c&oacute;digo.</span>
                </form>
            </div>
            <div class="col-xs-12 col-md-4">
                <form class="col-xs-12 col-md-12">
                    <input placeholder="XXXX@MAIL.COM" />
                    <button type="button" class="btn btn-primary full small" ng-click="resendMailVerification()" ng-if="currentUser.token">Verificar</button>
                    <img class="verification-ok" src="img/verification-ok-icon.svg" ng-if="contactMean.fb != null" ng-if="!currentUser.token">
                    <span>Se te enviar&aacute; un mail<br>con un link de verificaci&oacute;n.</span>
                </form>
            </div>
            <div class="col-xs-12 col-md-4">
                <form class="col-xs-12 col-md-12">
                    <input placeholder="FACEBOOK" ng-model="currentUser.fbName" readonly>
                    <button type="button" class="btn btn-primary full small" ng-click="verifyFacebook()" ng-if="currentUser.facebookToken == null">Verificar</button>
                    <img class="verification-ok" src="img/verification-ok-icon.svg" ng-if="currentUser.facebookToken != null">
                    <span>Ingresa tu cuenta de Facebook<br>para verificar tu ID.</span>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="row games">
        <div class="col-xs-12 col-md-4">
            <img src="img/books-icon.svg" />
            <button class="btn btn-tertiary small" ng-click="$state.go('gameclub.account.games')">Cargar juego a tu biblioteca</button>
        </div>
        <div class="col-xs-12 col-md-8">
            <span>Juegos cargados: <span class="quantity" ng-class="currentUser.numberOfGames > 0 ? 'more' : ''">{{currentUser.numberOfGames}}</span></span>
            <p>Para poder pedir prestado cualquier juego, tu tienes que cargar un juego para que pueda ser pedido / prestado. Si prestas, juegas.</p>
        </div>
        <div class="clearfix"></div>
    </section>
</div>
