<div class="inmodal">
	<form class="form-horizontal" role="form" on-submit="ok()" novalidate>
		<div class="modal-header">
			<i class="fa fa-lock modal-icon"></i>
			<h4 class="modal-title">Cambiar Contraseña</h4>
		</div>

		<div class="modal-body">
			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Contraseña Actual</label>
				<div class="col-md-8">
					<input validation type="password" class="form-control" ng-model="passwordObj.temp" required>
				</div>
			</div>

			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Nueva Contraseña</label>
				<div class="col-md-7">
					<input validation type="password" class="form-control" ng-model="passwordObj.password" required ng-minlength="6" ng-pattern="passRegex">
				</div>
				<div class="col-md-1 tooltip-adjustment">
					<i class="fa fa-question-circle change-password-tooltip" tooltip="{{passwordTooltip}}"></i>
				</div>
			</div>

			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Nueva Contraseña</label>
				<div class="col-md-7">
					<input validation type="password" class="form-control" ng-model="passwordObj.repeat" required ng-minlength="6" ng-pattern="passRegex">
				</div>
				<div class="col-md-1 tooltip-adjustment">
					<i class="fa fa-question-circle change-password-tooltip" tooltip="{{passwordTooltip}}"></i>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12" style="text-align: right;">
					<button type="submit" class="btn btn-w-m btn-primary">Aceptar</button>
					<button type="button" class="btn btn-w-m btn-default" ng-click="cancel()">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
</div>

<style type="text/css">
	.change-password-tooltip{
		font-size:1.5em;
		margin:6px -6px;
	}

	.tooltip-adjustment .levelap-tooltip-top{
		font-size:12px;
		min-width:290px;
		max-width:auto;
		left:-100px;
	}

	.tooltip-adjustment .levelap-tooltip-top::after{
		left:258px;
	}
</style>