<div id="game-item">
    <div class="col-xs-12 col-md-2 cover">
        <game-rating image-archive="ngModel.cover" src="src" no-score></game-rating>
    </div>
    <div class="col-xs-12 col-md-7 information">
        <span class="description">{{ngModel.name}}</span>
        <div class="rating-container">
            <img class="score-1" src="img/star-no-score.svg">
            <img class="score-2" src="img/star-no-score.svg">
            <img class="score-3" src="img/star-no-score.svg">
            <img class="score-4" src="img/star-no-score.svg">
            <img class="score-5" src="img/star-no-score.svg">
        </div>
        <span class="price" ng-if="showCoins">Costo prestamo por semana: <span class="light">{{ngModel.averageWeekCost}} coins</span></span>
        <button class="btn btn-primary small" ng-click="viewDetails()">Ver juego</button>
    </div>
    <div class="col-xs-12 col-md-3 rating">
        <div class="col-md-8 text-right platform">
            <img archive="ngModel.consoles[0].console.logo" src="" class="platform"/>
            <div class="types">
                <img ng-repeat="category in ngModel.categories" archive="category.category.whiteVector" src="">
            </div>
        </div>
        <div class="col-md-4 text-center content-rating">
            <img ng-src="{{ngModel.contentRating.other}}">
        </div>
    </div>
    <div class="clearfix"></div>
</div>
