<div id="game-item">
    <div class="col-xs-12 col-md-2 cover">
        <game-rating image-archive="ngModel.diamond" no-rating ng-click="viewDetails()"></game-rating>
    </div>
    <div class="col-xs-12 col-md-7 information">
        <span class="description">{{ngModel.name}}</span>
        <stars ng-model="ngModel.rating"></stars>
        <span class="price" ng-if="showCoins">Costo prestamo por semana: <span class="light">{{coins | currency: '$': 2}}</span></span>
        <br>
        <button class="btn btn-primary small" ng-click="viewDetails()">{{isEditable ? 'Editar' : 'Ver juego'}}</button>
    </div>
    <div class="col-xs-12 col-md-3 rating">
        <div class="col-md-8 text-right platform">
            <img archive="inverse ? ngModel.consoles[0].console.blackLogo : ngModel.consoles[0].console.whiteLogo" src="" class="platform" ng-if="console == null">
            <img archive="inverse ? console.blackLogo : console.whiteLogo" src="" class="platform" ng-if="console != null">
            <div class="types">
                <img ng-repeat="category in ngModel.categories" archive="inverse ? category.category.blackVector : category.category.whiteVector" src="">
            </div>
        </div>
        <div class="col-md-4 text-center content-rating">
            <img ng-src="{{ngModel.contentRating.other}}">
        </div>
    </div>
    <div class="clearfix"></div>
</div>