<div id="work-for-us">
    <section class="contact-form">
        <div class="row">
            <form class="col-md-12 contact-form" role="form">
                <h2 class="title">&iquest;Quieres trabajar con <span class="game-font game-font-white">Game</span><span class="game-font-dark-blue">Club</span>?</h2>
                <h2 class="title">&iquest;Quieres crecer con nosotros?</h2>
                <h2 class="title">&iquest;Quieres crear una alianza?</h2>
                <span class="description">Déjanos tu información y nosotros te contactaremos</span>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input name="name" placeholder="Nombre..." />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <input name="email" placeholder="E-mail..." />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <textarea name="message" placeholder="Mensaje..." rows="6"></textarea>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6 to-validate">
                    <div class="file-upload" name="file">
                        <button class="btn btn-secundary small full">Choose file</button>
                        <span>No file choosen</span>
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-4"></div>
                <div class="col-md-4 send-button">
                    <button type="submit" class="btn btn-secundary">Enviar</button>
                </div>
                <div class="col-md-4"></div>

            </form>
        </div>
    </section>
    <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Blog" size="100"></most-seen>
</div>
