<div class="col-md-1"></div>

<div class="col-md-10">
	<div class="ibox">
		<div class="ibox-content">
			<form class="form-horizontal" role="form" on-submit="save()" novalidate>
				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Nombre</label>
					<div class="col-md-6">
						<input validation type="text" class="form-control" ng-model="category.name" required>
					</div>
				</div>

				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Vector Blanco</label>
					<div class="col-md-3">
						<image-upload ng-model="whiteImage" archive="category.whiteVector" required></image-upload>
					</div>
				</div>

				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Vector Negro</label>
					<div class="col-md-3">
						<image-upload ng-model="blackImage" archive="category.blackVector" required></image-upload>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12" style="text-align: right;">
						<button type="submit" class="btn btn-w-m btn-primary">Guardar</button>
						<button type="button" class="btn btn-w-m btn-default" ng-click="cancel()">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>