<!-- BLOG TEMPLATE START -->
<div id="blog" class="">

    <!-- BANNER SECTION -->
    <div class="row">
        <section class="banner">
            <div class="row">
                <hr class="title-up"/>
                <a ui-sref="levelapBlog.blog.home"><div class="title">Blog</div></a>
                <hr class="title-down"/>
            </div>
        </section>
    </div>
    <div class="clearfix"></div>

    <!-- MAIN DISTRIBUTION-->
    <div class="col-md-12 no-padding-h">
        <div class="col-md-6 col-xs-12 left-panel xs-panel">
            <!-- LEFT SECTION -->
            <div class="">
                <section class="blog-panel left responsive">
                    <div ui-view></div>
                </section>
            </div>
        </div>

        <div class="col-md-6 col-xs-12 right-panel xs-panel">
            <!-- RIGHT SECTION -->
            <div class="">
                <section class="blog-panel right responsive">

                    <!-- SEARCH POST -->
                    <div class="search">
                        <input placeholder="Buscar..." ng-model="search.value" ng-keyup="$event.keyCode == 13 && searchInBlog(search.value)"/>
                        <span class="fa fa-search search-icon" ng-click="searchInBlog(search.value)"></span>
                    </div>

                    <!-- SHOW IMPORTANT BLOGS -->
                    <div class="important">
                        <h2>Artículos <span class="normal">destacados</span></h2>
                        <hr class="subtitle" />
                        <article ng-repeat="article in importantBlogs">
                            <div class="rhombus col-md-4 col-xs-5">
                                <diamond-img class="cursor-pointer" ng-src="RestUrl + '/open/archive/download/' + article.diamond.id" ng-click="goToDetails(article)"></diamond-img>
                            </div>

                            <div class="col-md-8 info" ng-click="goToDetails(article)">
                                <h2 class="hidden-xs" title="{{article.title}}">{{article.title | limitTo: 40}}{{article.title.length > 40 ? '...' : ''}}</h2>
                                <h2 class="visible-xs" title="{{article.title}}">{{article.title | limitTo: 18}}{{article.title.length > 18 ? '...' : ''}}</h2>
                                <div class="description">
                                    <p class="hidden-xs">{{article.summary | limitTo:200}}{{article.summary.length > 200 ? '...' : ''}}</p>
                                    <p class="visible-xs">{{article.summary | limitTo:150}}{{article.summary.length > 150 ? '...' : ''}}</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </article>
                    </div>

                    <!-- SHOW CATEGORIES -->
                    <div class="categories" ng-if="categories.length > 0">
                        <h2>Categorías</h2>
                        <hr class="subtitle" />
                        <div class="tag" ng-repeat="category in categories"><span>{{category.text}}</span></div>
                    </div>

                    <!-- SHOW TAGS -->
                    <div class="tags-section" ng-if="tags.length > 0">
                        <h2>Etiquetas</h2>
                        <hr class="subtitle" />
                        <div class="tag" ng-repeat="tag in tags" ng-click="searchInBlog(tag.text)"><span>{{tag.text}}</span></div>
                    </div>

                    <!-- HERE TO PUT EXTRA INFORMATION -->
                    <div class="extra-info">
                        <h2 class="icon-section">
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                            <i class="gc gc-pencil"></i>
                        </h2>
                        <h2 class="question">
                            &iquest;Quieres escribir artículos<br>para el blog de <span class="game-font">Game</span><span class="game-font-light-red">Club</span>
                        </h2>
                        <div class="info">
                            Comparte tu conocimiento gamer.
                        </div>
                        <label>Escribe tus artículos a</label>
                        <a href="mailto:blog@gameclub.com.ec">
                            <input placeholder="blog@gameclub.com.ec" ng-disabled="true"/>
                        </a>
                    </div>

                </section>
            </div>
        </div>
        <div class="clearfix"></div>

        <!-- DIRECTIVE OF MOST SEEN -->
        <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Lo más visto" size="100"></most-seen>
    </div>
    <!-- BLOG TEMPLATE END -->
</div>
