<!-- BLOG SEARCH PAGE START -->
<div class="search">
    <div class="article-section">
        <h2 class="results-for" ng-if="articles.length > 0 && searchValue != null && searchValue != ''">Resultados para: <span class="normal">{{searchValue}}</span></h2>
        <div ng-if="articles.length > 0">
            <div class="col-md-4"></div>
            <div class="col-md-8 col-xs-12">
                <article-preview ng-repeat="article in articles" ng-model="article" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-if="articles.length == 0" class="no-data">
            <h2>No obtuvimos resultados, favor verifíca tu información.</h2>
        </div>
    </div>
    <blog-navigation pages="$parent.totalPagesSearch" active-page="$parent.currentPageSearch"  ng-if="articles.length != 0" />
</div>
<!-- BLOG SEARCH PAGE END -->
