<div class="inmodal">
	<form class="form-horizontal" role="form" on-submit="save()">
		<div class="modal-header">
			<h2>Carga Masiva de Juegos</h2>
		</div>

		<div class="modal-body">
			<div ng-if="!wasProcessed">
				<div class="form-group">
					<div class="col-md-12 text-center">
						<button type="button" class="btn btn-w-m btn-success ladda-button" data-style="slide-down" ladda="isDownloading" ng-click="downloadTemplate()" ng-disabled="isProcessing">
							<i class="fa fa-download" style="margin-right: 5px"></i>
							<span>Descargar Plantilla</span>
						</button>
					</div>
				</div>

				<div class="form-group to-validate">
					<div class="col-md-1"></div>
					<div class="col-md-10 text-center">
						<label class="col-md-2 control-label">Excel</label>
						<div class="col-md-10">
							<file-upload validation ng-model="$parent.bulkloadFile" required ng-disabled="isProcessing"></file-upload>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 text-center">
						<h3>Vista Previa</h3>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12 text-center" style="max-height: 25em; overflow: auto;">
						<table class="table table-bordered table-stripped table-hover" ng-if="sheet != null">
							<thead>
								<tr ng-repeat="row in sheet" ng-if="$first">
									<th ng-repeat="(key, value) in row">{{key}}</th>
								</tr>
							</thead>

							<tbody>
								<tr ng-repeat="row in sheet">
									<td ng-repeat="(key, value) in row">{{value | limitTo: 100}}{{value.length > 100 ? '...' : ''}}</td>
								</tr>
							</tbody>
						</table>

						<h4 ng-if="sheet == null">Vista previa no disponible</h4>
					</div>
				</div>
			</div>

			<div ng-if="wasProcessed">
				<div class="form-group text-center">
					<div class="col-md-12">
						<h3>Archivo Procesado</h3>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12">
						<strong>>Total filas: </strong>{{excelReport.totalRows}}
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-6">
						<strong class="text-success">Filas Correctas: </strong>{{excelReport.totalRows - excelReport.wrongRows}}
					</div>

					<div class="col-md-6">
						<strong class="text-danger">Filas Incorrectas: </strong>{{excelReport.wrongRows}}
					</div>
				</div>

				<div class="form-group text-center">
					<div class="col-md-12">
						<h4>Errores</h4>
					</div>
				</div>

				<div class="form-group text-center">
					<div class="col-md-12">
						<table class="table table-bordered table-stripped table-hover">
							<col width="20%">
							<col width="80%">

							<thead>
								<tr>
									<th>Celda</th>
									<th>Descripción</th>
								</tr>
							</thead>

							<tbody ng-if="excelReport.errors">
								<tr ng-repeat="(cell, desc) in excelReport.errors">
									<td class="text-center">{{cell}}</td>
									<td class="text-left">{{desc}}</td>
								</tr>
							</tbody>

							<tfoot ng-if="excelReport.errors.length <= 0">
								<tr>
									<td class="text-center" colspan="2">No existen errores en el archivo</td>
								</tr>
							</tfoot>
						</table>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-w-m btn-primary" ng-if="wasProcessed && excelReport.wrongRows <= 0">Guardar</button>
					<button type="button" class="btn btn-w-m btn-success ladda-button" data-style="slide-down" ladda="isProcessing" ng-if="!wasProcessed" ng-click="process()">Procesar</button>
					<button type="button" class="btn btn-w-m btn-default" ng-if="wasProcessed && excelReport.wrongRows > 0" ng-click="back()">Regresar</button>
					<button type="button" class="btn btn-w-m btn-default" ng-click="cancel()">Cancelar</button>
				</div>
			</div>
		</div>
	</form>
</div>