<div class="inmodal">
	<form class="form-horizontal" role="form" novalidate>
		<div class="modal-header">
			<i class="fa fa-eye modal-icon"></i>
			<h4 class="modal-title">Welcome Kit</h4>
		</div>

		<div class="modal-body">
			<div class="form-group">
				<label class="col-md-3 control-label">Para</label>
				<div class="col-md-9 control-info">
					<span>{{kit.publicUser.name + ' ' + kit.publicUser.lastName}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Documento</label>
				<div class="col-md-9 control-info">
					<span>{{kit.publicUser.document}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Ubicación</label>
				<div class="col-md-9 control-info">
					<span>{{kit.publicUser.location.parent.name + ', ' + kit.publicUser.location.name}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Dirección</label>
				<div class="col-md-9 control-info">
					<span>{{kit.address}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Teléfono</label>
				<div class="col-md-9 control-info">
					<span>{{kit.phone}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Persona de Entrega</label>
				<div class="col-md-9 control-info">
					<span>{{kit.receiver}}</span>
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Geolocalización</label>
				<div class="col-md-9 control-info">
					<span>{{kit.geolocation.x + ', ' + kit.geolocation.y}}</span>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 text-right">
					<button type="button" class="btn btn-w-m btn-info" ng-click="done()">Listo</button>
				</div>
			</div>
		</div>
	</form>
</div>