<div id="game">
    <section class="row banner">
        <div ng-style="background">
        </div>
    </section>
    <section class="row header">
        <div class="col-md-3 cover">
            <game-rating image-archive="game.diamond" no-rating no-selection="true"></game-rating>
        </div>
        <div class="col-md-6 principal">
            <h1 class="col-md-12 title">{{game.name}}</h1>
            <div class="col-md-12 rating-container">
                <stars ng-model=game.rating></stars>
            </div>
            <div class="col-md-12 video">
                <span>
                    <a ng_href="{{game.trailerUrl}}" target="_blank">
                    <i class="gc gc-youtube" ></i>
                    <font color=#111111><B>Video game play </B></font>
                    </a>
                </span>
            </div>
        </div>
        <div class="col-md-3 rating text-right">
            <div class="col-md-12 content-rating">
                <img ng-src="{{game.contentRating.other}}">
            </div>
            <form class="col-md-12 platform">
                <ui-select ng-model="console.selected" theme="bootstrap" class="selector text-center" ng-change="consoleSelected()">
                    <ui-select-match placeholder="Consola...">
                        <img ng-src="{{$select.selected.console.blackLogoBase64}}" class="gameConsole">
                    </ui-select-match>
                    <ui-select-choices repeat="cross in game.consoles | filter: $select.console" class="text-center">
                        <div ng-bind-html="'' | highlight: $select.console"></div>
                        <img archive="cross.console.whiteLogo" >
                    </ui-select-choices>
                </ui-select>
            </form>
            <div class="col-md-12 category" ng-repeat="cross in game.categories">
                <img archive="cross.category.blackVector" src="" >
            </div>
        </div>
    </section>
    <section class="row information">
        <div class="col-md-9 data">
            <div class="description ">
                <span class="col-md-12 subtitle">Descripción:</span>
                <p ng-if="!showMore">{{game.description | limitTo: 400}}...</p>
                <p ng-if="showMore">{{game.description}}</p>
                <div class="text-right" ng-if="game.description.length > 400">
                    <small><a href="" ng-click="$parent.showMore = !$parent.showMore">Mostrar {{!showMore ? 'más' : 'menos'}}</a></small>
                </div>
            </div>
            <span class="col-md-12 subtitle">Fecha de lanzamiento: <span class="red">{{game.releaseDate | date: 'dd-MM-yyyy'}}</span></span>
            <span class="col-md-12 subtitle">Costo promedio por semana: <span class="red">{{getWeeklyCost(game) | currency: '$': 2}}</span></span>
        </div>
        <div class="col-md-3 rating">
            <div class="reviews text-center">
                <span class="subtitle">Los reviews</span>
                <ul>
                    <li ng-repeat="cross in game.magazineRatings">
                        <div class="col-md-12">
                            <img ng-src="{{cross.magazine.other}}">
                        </div>
                        <div class="col-md-12">
                            <stars ng-model="cross.rating" solid="light"></stars>
                        </div>
                        <div class="col-md-12">
                            <a ng-href="{{cross.url}}" target="_blank">Leer más</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <form role="form" on-submit="requestLoan()" novalidate>
        <section class="row games">
            <div ng-if="!loanViewOpen">
                <div class="subtitle">Juegos disponibles</div>
                <button type="button" class="btn btn-tertiary small dark" ng-click="addToLibrary()" ng-if="currentUser">Sube tu juego</button>
                <button type="button" class="btn btn-tertiary small dark" ng-click="login()" ng-if="!currentUser">Inicia Sesión</button>
                <div class="filters">
                    <li ng-repeat="filter in filters">
                        <a href ng-class="{'active': filter.active}" ng-click="doFilter(filter)"><i class="gc" ng-class="filter.icon"></i></a>
                    </li>
                </div>
                <div class="games-availables">
                    <div class="table-container">
                        <table width="100%">
                            <col width="17%">
                            <col width="15%">
                            <col width="17%">
                            <col width="15%">
                            <col width="16%">
                            <col width="13%">
                            <col width="5%">
                            <thead>
                                <tr>
                                    <th>Disponibilidad</th>
                                    <th>Costo shipping</th>
                                    <th>Ciudad</th>
                                    <th>Costo</th>
                                    <th>Rating usuario</th>
                                    <th>Estado juego</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="cross in availableGames">
                                    <td ng-class="cross.status ? 'blue' : 'red'">{{!cross.isBorrowed ? 'Disponible' : 'Prestado'}}</td>
                                    <td>{{cross.shippingCost != null ? (cross.shippingCost | currency:'$ ':2) : 'N/A'}}</td>
                                    <td>{{cross.publicUser.location.name}}</td>
                                    <td ng-class="cross.status ? 'blue' : 'red'">{{cross.cost | currency: '$': 2}}</td>
                                    <td>
                                        <stars class="cursor-pointer" ng-model="cross.publicUser.rating" ng-click="viewOwnerRating(cross.publicUser)" ng-if="cross.publicUser.rating > 0"></stars>
                                        <span ng-if="cross.publicUser.rating <= 0">Este usuario todavía no tiene calificaciones</span>
                                    </td>
                                    <td class="game-status">{{cross.integrity.name}}</td>
                                    <td>
                                        <button type="button" class="btn btn-primary small dark" ng-click="openLoanView(cross)" ng-if="!cross.isBorrowed">
                                            {{currentUser != null ? 'Ficha prestamo' : 'Iniciar sesión'}}
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="availableGames.length == 0">
                                <tr class="text-center">
                                    <td colspan="7">No hay juegos disponibles</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-12 text-center" ng-if="!lastPage">
                    <button type="button" class="btn btn-secundary small" ng-click="loadMoreGames()" ng-if="!lastPage">Ver más propuestas</button>
                </div>
            </div>
            <div class="loan-view" ng-if="loanViewOpen">
                <div class="col-md-12 col-xs-12 no-padding-left no-padding-right">
                    <div class="col-md-12 col-xs-12">
                        <div class="subtitle">Ficha del juego disponible</div>
                        <button type="button" class="btn btn-tertiary small dark" ng-click="closeLoanView()">Volver a propuestas</button>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-9 col-xs-12 information-separation">
                        <label class="title">Status</label>
                        <span class="value">{{loanGame.status ? 'Disponible' : 'Prestado'}}</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-9 col-xs-12 information-separation">
                        <label class="title">Estado del juego</label>
                        <span class="value">{{loanGame.integrity.name}}</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-9 col-xs-12 information-separation">
                        <label class="title">Observaciones</label>
                        <span class="value original-text">{{loanGame.observations}}</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12 information-separation">
                        <label class="title">Rating del prestador</label>
                        <div class="rating-container" ng-if="loanGame.publicUser.rating > 0">
                            <stars ng-model="loanGame.publicUser.rating" solid="light"></stars>
                        </div>
                        <span class="value" ng-if="loanGame.publicUser.rating <= 0">Este usuario todavía no tiene calificaciones</span>
                        <button type="button" class="btn btn-tertiary small dark" ng-click="viewOwnerRating(loanGame.publicUser)" ng-if="loanGame.publicUser.rating > 0">Ver Rating</button>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-9 col-xs-12 information-separation">
                        <label class="title">Ciudad del juego</label>
                        <span class="value">{{loanGame.publicUser.location.name}}</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="col-ms-12 col-xs-12 no-padding-left no-padding-right">
                    <div class="col-md-12 col-xs-12">
                        <div class="subtitle">Costo alquiler</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12 information-separation">
                        <label class="title">Costo prestamo</label>
                        <span class="value big">{{loanGame.cost | currency:'$ ':2}}</span> <span class="value dark">x</span>
                        <span class="value big">= {{loanGame.cost * loan.weeks | currency: '$ ': 2}}</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12">
                        <label class="title">Tiempo prestamo</label>
                        <ui-select ng-model="loan.weeks" class="selector" ng-change="weekSelected()">
                            <ui-select-match placeholder="Semanas...">{{$select.selected}} {{$select.selected == 1 ? 'Semana' : 'Semanas'}}</ui-select-match>
                            <ui-select-choices repeat="num in [1, 2, 3, 4] | filter: $select.search">
                                <div ng-bind-html="num + (num == 1 ? ' semana' : ' semanas') | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="col-ms-12 col-xs-12 no-padding-left no-padding-right">
                    <div class="col-md-12 col-xs-12">
                        <div class="subtitle">Costo shipping</div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12 information-separation">
                        <label class="title dark">Ciudad de retiro del juego: {{loanGame.publicUser.location.name}}</label>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12 shipping">
                        <div class="col-md-12 col-xs-12">
                            <span class="address-title">Dirección de entrega actual:</span>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-9 col-xs-12 information-separation">
                            <label>Ciudad</label>
                            <input ng-model="loanGame.publicUser.location.name" readonly="true" disabled="true" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-9 col-xs-12 information-separation">
                            <label>Dirección</label>
                            <input type="text" ng-model="loan.gamerAddress" required />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-9 col-xs-12 information-separation">
                            <label class="icon" ng-click="openMapsModal()"><i class="gc gc-address"></i></label>
                            <img class="geo-check" src="/img/check.svg" ng-if="loan.gamerGeolocation != null">
                            <input placeholder="Aprieta el botón de GEOLOCALIZACIóN" readonly="true" disabled="true" />
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-9 col-xs-12 information-separation">
                            <label>Persona de entrega</label>
                            <input type="text" ng-model="loan.gamerReceiver" required>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-9 col-xs-12 information-separation no-underline">
                            <div class="box" ng-class="loan.saveChanges ? 'checked' : ''" ng-click="loan.saveChanges = !loan.saveChanges"></div>
                            <span class="checkbox-label" ng-click="loan.saveChanges = !loan.saveChanges">Guardar información para siguiente préstamo</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="col-md-12 col-xs-12 information-separation">
                        <label class="title dark">Costo shipping = {{shippingCost | currency:'$ ':2}}</label>
                        <span class="title-help">(Ida y vuelta, incluye seguro de envío)</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12 col-xs-12 no-padding-left no-padding-right final-costs">
                    <div class="col-md-3 col-xs-0"></div>
                    <div class="col-md-8 col-xs-12 left-decoration">
                        <div class="col-md-12 col-xs-12">
                            <label class="big">Costo final total</label>
                            <span class="big-value">{{loan.cost | currency: '$ ': 2}}</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12 col-xs-12 foot-note">
                            (Costo en base a dirección actual, incluye fee de GameClub)
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </section>
        <payment-method total-balance="currentUser.shownBalance" payment-methods="currentUser.paymentMethods" balance="balance" total-to-pay="loan.cost" card-selected="$parent.cardSelected" class="row payment-view"  ng-if="paymentViewOpen"/>
        <section class="row loan-footer" ng-if="loanViewOpen">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-secundary" ng-click="continueRequest()" ng-if="!paymentViewOpen">Continuar con soliciud de préstamo</button>
                <button type="submit" class="btn btn-secundary" ng-if="paymentViewOpen">Realizar pedido de prestamo</button>
            </div>
            <div class="clearfix"></div>
        </section>
    </form>
    <most-played games="mostPlayed" previous="getPreviousGame()" next="getNextGame()" game-consoles="consoles"/>
    <section class="final"></section>
</div>
