<div id="game">
    <section class="row banner">
        <div ng-style="background">
        </div>
    </section>
    <section class="row header">
        <div class="col-md-3 cover">
            <game-rating image-archive="game.cover" src="" no-rating no-selection="true" crop="game.diamondCrop"></game-rating>
        </div>
        <div class="col-md-6 principal">
            <h2 class="col-md-12 title">{{game.name}}</h2>
            <div class="col-md-12 rating-container">
                <i class="gc gc-rating rating-1 yes"></i>
                <i class="gc gc-rating rating-2 yes"></i>
                <i class="gc gc-rating rating-3 yes"></i>
                <i class="gc gc-rating rating-4 yes"></i>
                <i class="gc gc-rating rating-5"></i>
            </div>
            <div class="col-md-12 video">
                <i class="gc gc-youtube"></i> Video game play
            </div>
        </div>
        <div class="col-md-3 rating text-right">
            <div class="col-md-12 content-rating">
                <img ng-src="{{game.contentRating.other}}">
            </div>
            <form class="col-md-12 platform">
                <ui-select ng-model="search.console" theme="bootstrap" class="selector text-center" ng-change="consoleSelected()">
                    <ui-select-match placeholder="Consola...">
                        <img ng-src="{{$select.selected.console.blackLogoBase64}}" class="gameConsole">
                    </ui-select-match>
                    <ui-select-choices repeat="cross in game.consoles | filter: $select.search" class="text-center">
                        <div ng-bind-html="'' | highlight: $select.search"></div>
                        <img archive="cross.console.whiteLogo" >
                    </ui-select-choices>
                </ui-select>
            </form>
            <div class="col-md-12 category">
                <img archive="cross.category.blackVector" src="" ng-repeat="cross in game.categories">
            </div>
        </div>
    </section>
    <section class="row information">
        <div class="col-md-9 data">
            <div class="description ">
                <span class="col-md-12 subtitle">Descripci&oacute;n:</span>
                <p ng-if="!showMore">{{game.description | limitTo: 400}}...</p>
                <p ng-if="showMore">{{game.description}}</p>
                <div class="text-right" ng-if="game.description.length > 400">
                    <small><a href="" ng-click="$parent.showMore = !$parent.showMore">Mostrar {{!showMore ? 'más' : 'menos'}}</a></small>
                </div>
            </div>
            <span class="col-md-12 subtitle">Fecha de lanzamiento: <span class="red">{{game.releaseDate | date: 'dd-MM-yyyy'}}</span></span>
            <span class="col-md-12 subtitle">Costo promedio por semana: <span class="red">{{game.averageWeekCost}} coins</span></span>
        </div>
        <div class="col-md-3 rating">
            <div class="reviews text-center">
                <span class="subtitle">Los reviews</span>
                <ul>
                    <li ng-repeat="cross in game.magazineRatings">
                        <div class="col-md-12">
                            <img ng-src="{{cross.magazine.other}}">
                        </div>
                        <div class="col-md-12 rating-container">
                            <i class="gc gc-rating rating-1 yes"></i>
                            <i class="gc gc-rating rating-2 yes"></i>
                            <i class="gc gc-rating rating-3 yes"></i>
                            <i class="gc gc-rating rating-4 yes"></i>
                            <i class="gc gc-rating rating-5 yes"></i>
                        </div>
                        <div class="col-md-12">
                            <a ng-href="{{cross.url}}" target="_blank">Leer m&aacute;s</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="row games">
        <div class="subtitle">
            Juegos disponibles
            <button type="button" class="btn btn-tertiary small dark" ng-click="addToLibrary()" ng-if="currentUser">Sube tu juego</button>
            <button type="button" class="btn btn-tertiary small dark" ng-click="login()" ng-if="!currentUser">Inicia Sesión</button>
        </div>
        <div class="filters">
            <li>
                <a href><i class="gc gc-send"></i></a>
            </li><li>
                <a href><i class="gc gc-address"></i></a>
            </li><li>
                <a href class="active"><i class="gc gc-usd"></i></a>
            </li><li>
                <a href><i class="gc gc-rating"></i></a>
            </li><li>
                <a href><i class="gc gc-cd"></i></a>
            </li><li><a href><i class="gc gc-filter"></i></a></li>
        </div>
        <div class="games-availables">
            <div class="table-container">
                <table>
                    <col width="17%">
                    <col width="15%">
                    <col width="17%">
                    <col width="15%">
                    <col width="16%">
                    <col width="13%">
                    <col width="5%">

                    <thead>
                        <tr>
                            <th>Disponibilidad</th>
                            <th>Costo shipping</th>
                            <th>Ciudad</th>
                            <th>Costo coins</th>
                            <th>Rating usuario</th>
                            <th>Estado juego</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="game in availables">
                            <td ng-class="game.available ? 'blue' : 'red'">{{game.available ? 'Disponible' : 'Prestado'}}</td>
                            <td>{{game.shipping | currency:'$ ':2}}</td>
                            <td>{{game.city}}</td>
                            <td ng-class="game.available ? 'blue' : 'red'">{{game.coins | currency:'+ ':0}}</td>
                            <td>
                                <div class="col-md-12 rating-container">
                                    <i class="gc gc-rating" ng-class="1 <= game.rating ? 'yes' : ''"></i>
                                    <i class="gc gc-rating" ng-class="2 <= game.rating ? 'yes' : ''"></i>
                                    <i class="gc gc-rating" ng-class="3 <= game.rating ? 'yes' : ''"></i>
                                    <i class="gc gc-rating" ng-class="4 <= game.rating ? 'yes' : ''"></i>
                                    <i class="gc gc-rating" ng-class="5 <= game.rating ? 'yes' : ''"></i>
                                </div>
                            </td>
                            <td class="game-status">{{game.gameStatus}}/10</td>
                            <td><button class="btn btn-primary small dark">Ficha prestamo</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-12 text-center">
            <button class="btn btn-secundary small">Ver todas las propuestas</button>
        </div>
    </section>
    <most-played games="mostPlayed" previous="getPreviousGame()" next="getNextGame()" game-consoles="consoles"/>
    <section class="final"></section>
</div>
