<!-- MOST SEEN DIRECTIVE START -->
<section id="most-seen">
    <h2>{{title}}</h2>
    <hr class="subtitle" />
    <div class="article-row">
        <div class="col-md-6" ng-repeat="preview in ngModel">
            <article class="blog-preview">
                <div class="col-md-7 info">
                    <h2 title="{{preview.title}}">{{preview.title | limitTo: 18}}{{preview.title.length > 18 ? '...' : ''}}</h2>
                    <p>{{preview.summary | limitTo:filterSize}}{{preview.summary.length > filterSize ? '...' : ''}}</p>
                    <a href ng-click="goToArticle(preview)">Leer m&aacute;s</a>
                </div>
                <div class="col-md-5 picture">
                    <div class="image-section">
                        <div class="post-date">
                            <div class="post-date-content">
                                <span>{{preview.creationDate | date:'dd'}}</span><span>{{preview.creationDate | date:'MMM'}}</span>
                            </div>
                        </div>
                        <div class="image-cropped">
                            <img class="cursor-pointer" archive="preview.square" ng-click="goToArticle(preview)"/>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
    <div class="pagging">
        <div ng-repeat="page in pageList" ng-class="page.active ? 'page-active' : ''" ng-click="changePage(page)" class="page-button"></div>
    </div>
</section>
<!-- MOST SEEN DIRECTIVE END -->