<div class="col-md-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Filtro de Búsqueda</strong>
		</div>

		<!-- <div class="panel-body">
			<div class="col-md-1"></div>

			<div class="col-md-10">
				<form class="form-horizontal" role="form" on-submit="save()" novalidate>
					<div class="form-group text-center">
						<label class="col-md-3 control-label">Excel</label>
						<div class="col-md-6">
							<file-upload validation ng-model="file" required></file-upload>
						</div>
					</div>

					<div class="form-group">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-w-m btn-success">Actualizar</button>
						</div>
					</div>
				</form>
			</div>
		</div> -->
	</div>
</div>