<div class="inmodal">
	<form class="form-horizontal" role="form" on-submit="ok()" novalidate>
		<div class="modal-header">
			<i class="fa fa-eye modal-icon"></i>
			<h4 class="modal-title">Detalles</h4>
		</div>

		<div class="modal-body">
			<div class="form-group">
				<label class="col-md-3 control-label">Para</label>
				<span class="col-md-9 info-span">{{kit.publicUser.name + ' ' + kit.publicUser.lastName}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Cédula</label>
				<span class="col-md-9 info-span">{{kit.publicUser.document}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Correo</label>
				<span class="col-md-9 info-span">{{kit.publicUser.username}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Localidad</label>
				<span class="col-md-9 info-span">{{kit.publicUser.location.parent.name + ', ' + kit.publicUser.location.name}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Teléfono</label>
				<span class="col-md-9 info-span">{{kit.publicUser.contactPhone}}</span>
			</div>

			<div class="form-group">
				<label class="col-md-3 control-label">Confirmado?</label>
				<span class="col-md-9 info-span">{{kit.wasConfirmed ? 'Si' : 'No'}}</span>
			</div>

			<div class="form-group" ng-if="kit.wasConfirmed">
				<label class="col-md-3 control-label">Estado del envío</label>
				<span class="col-md-9 info-span">{{kit.shippingStatus.name}}</span>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 text-right">
					<button type="submit" class="btn btn-w-m btn-info">Listo</button>
				</div>
			</div>
		</div>
	</form>
</div>

<style type="text/css">
	.info-span{padding-top:7px;}
</style>