<div id="settings">
    <section class="row header">
        <div class="col-md-4"></div>
        <div class="col-md-8 no-padding-left no-padding-right">
            <div class="col-md-10 name">
                <div class="col-md-3 no-padding-left no-padding-right">
                    <img src="img/test/profile-pic.png" />
                </div>
                <div class="col-md-9">
                    <h1 class="title">Pablo Ponce</h1>
                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="connection">&uacute;ltima vez conectado: <span>01-04-2017</span></div>
                    </div>
                    <button class="btn btn-tertiary full small">Cambiar avatar</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 coins">
                <div class="col-md-6 no-padding-left">
                    <span class="subtitle">Coins: <span class="dark">850</span> <i class="gc gc-usd-o"></i></span>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-tertiary small">Obt&eacute;n <span class="light">coins</span> f&aacute;cil</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 payment">
                <h2 class="subtitle">Formas de pago:</h2>
                <form class="col-md-7 new-payment">
                    <div class="col-md-11 name">
                        <input type="text" placeholder="Nombre"/>
                    </div>
                    <div class="col-md-11 card-number">
                        <input type="text" placeholder="1111-2222-3333-4444" maxlength="19"/>
                    </div>
                    <div class="col-md-3 expiry">
                        <input type="text" placeholder="01/21" maxlength="5" />
                    </div>
                    <div class="col-md-7 cvc">
                        <input type="text" placeholder="Código de seguridad" maxlength="3" />
                    </div>
                    <button class="btn btn-tertiary small">Validar forma de pago</button>
                </form>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="reviews">
        <h2 class="subtitle"><i class="gc gc-circle-small"></i> Tus reviews <i class="gc gc-rating"></i></h2>
        <div class="lender">
            <div class="header">
                <h2 class="subtitle">Prestador</h2>
                <div class="rating-container">
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="no gc gc-rating"></i>
                </div>
                <small>13 opiniones</small>
            </div>
            <div class="body">
                <div class="rating">
                    <div class="title">
                        <span class="col-md-6">USUARIO 1</span>
                        <div class="col-md-6 rating-container">
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="no gc gc-rating"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="rating">
                    <div class="title">
                        <span class="col-md-6">USUARIO 1</span>
                        <div class="col-md-6 rating-container">
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="no gc gc-rating"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="rating">
                    <div class="title">
                        <span class="col-md-6">USUARIO 1</span>
                        <div class="col-md-6 rating-container">
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="no gc gc-rating"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="gamer">
            <div class="header">
                <h2 class="subtitle">Jugador</h2>
                <div class="rating-container">
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="gc gc-rating"></i>
                    <i class="no gc gc-rating"></i>
                </div>
                <small>13 opiniones</small>
            </div>
            <div class="body">
                <div class="rating">
                    <div class="title">
                        <span class="col-md-6">USUARIO 1</span>
                        <div class="col-md-6 rating-container">
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="gc gc-rating"></i>
                            <i class="no gc gc-rating"></i>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </section>
</div>
