<div id="settings">
    <section class="row header">
        <div class="col-md-4"></div>
        <div class="col-md-8 no-padding-left no-padding-right">
            <div class="col-md-10 name">
                <div class="col-md-3 no-padding-left no-padding-right">
                    <img id="avatar_img" archive="currentUser.avatar.image" placeholder="img/contact-person.svg">
                </div>
                <div class="col-md-9">
                    <h1 class="title">{{currentUser.name}} {{currentUser.lastName}}</h1>
                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="connection">&uacute;ltima vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 coins">
                <div class="col-md-6 no-padding-left">
                    <span class="subtitle">Coins: <span class="dark">{{currentUser.coins}}</span> <i class="gc gc-usd-o"></i></span>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-tertiary small">Obt&eacute;n <span class="light">coins</span> f&aacute;cil</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 payment">
                <h2 class="subtitle" ng-if="currentUser.paymentMethods.length > 0">Formas de pago:</h2>
                <div ng-repeat="method in currentUser.paymentMethods">
                    <div class="col-md-12 card-info">
                        <div class="col-md-4">
                            <input value="xxxx xxxx xxxx {{method.cardFinale}}" readonly />
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-secundary full small" ng-click="removeMethod(method)">Borrar tarjeta</button>
                        </div>
                    </div>
                </div>

                <div ng-if="currentUser.paymentMethods.length < 2">
                    <span class="col-md-12 paymen-help">Ingresar forma de pago</span>
                    <kushki class="col-md-7 new-payment" />
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <section class="reviews">
        <h2 class="subtitle"><i class="gc gc-circle-small"></i> Tus reviews <i class="gc gc-rating"></i></h2>
        <div class="lender">
            <div class="header">
                <h2 class="subtitle">Prestador</h2>
                <stars ng-model="lenderAverage" solid="red"></stars>
                <div><small>{{lenderReviews}} opiniones</small></div>
            </div>

            <div class="body" ng-if="lenderReviews > 0">
                <div class="rating" ng-repeat="review in reviews" ng-if="review.lenderAccepted == true && review.lender.id == currentUser.id">
                    <div class="title">
                        <span class="upper-case">{{review.lender.name}} {{review.lender.lastName | limitTo: 1}}.</span>
                        <score ng-model="review.lenderScore" disabled></score>
                    </div>
                    <div class="description">{{review.lenderComment}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="gamer">
            <div class="header">
                <h2 class="subtitle">Jugador</h2>
                <stars ng-model="gamerAverage" solid="blue"></stars>
                <div><small>{{gamerReviews}} opiniones</small></div>
            </div>

            <div class="body" ng-if="gamerReviews > 0">
                <div class="rating" ng-repeat="review in reviews" ng-if="review.gamerAccepted == true && review.gamer.id == currentUser.id">
                    <div class="title">
                        <span class="upper-case">{{review.gamer.name}} {{review.gamer.lastName | limitTo: 1}}.</span>
                        <score ng-model="review.gamerScore" disabled></score>
                    </div>
                    <div class="description">{{review.gamerComment}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="col-md-12 load-more" ng-if="!isLastPage">
            <a href="" ng-click="loadMore()">Cargar más</a>
        </div>

        <div class="col-md-12 no-reviews" ng-if="lenderReviews <= 0 && gamerReviews <= 0">No tienes opiniones por el momento</div>

        <div class="clearfix"></div>
    </section>
</div>