<div class="inmodal">
	<form class="form-horizontal" role="form" novalidate>
		<div class="modal-header">
			<i class="fa fa-eye modal-icon"></i>
			<h4 class="modal-title">Devolución</h4>
		</div>

		<div class="modal-body">
			<div class="tabs-container">
				<uib-tabset>
					<uib-tab heading="Prestador">
						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label">Nombre</label>
								<div class="col-md-9 control-info">
									<span>{{restore.publicUserGame.publicUser.name + ' ' + restore.publicUserGame.publicUser.lastName}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Documento</label>
								<div class="col-md-9 control-info">
									<span>{{restore.publicUserGame.publicUser.document}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Ubicación</label>
								<div class="col-md-9 control-info">
									<span>{{restore.publicUserGame.publicUser.location.parent.name + ', ' + restore.publicUserGame.publicUser.location.name}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Dirección</label>
								<div class="col-md-9 control-info">
									<span>{{restore.lenderAddress}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Teléfono</label>
								<div class="col-md-9 control-info">
									<span>{{restore.publicUserGame.publicUser.contactPhone}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Persona de Entrega</label>
								<div class="col-md-9 control-info">
									<span>{{restore.lenderReceiver}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Geolocalización</label>
								<div class="col-md-9 control-info">
									<span>{{restore.lenderGeolocation.x + ', ' + restore.lenderGeolocation.y}}</span>
								</div>
							</div>
						</div>
					</uib-tab>

					<uib-tab heading="Jugador">
						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-3 control-label">Nombre</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamer.name + ' ' + restore.gamer.lastName}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Documento</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamer.document}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Ubicación</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamer.location.parent.name + ', ' + restore.gamer.location.name}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Dirección</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamerAddress}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Teléfono</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamer.contactPhone}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Persona de Entrega</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamerReceiver}}</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">Geolocalización</label>
								<div class="col-md-9 control-info">
									<span>{{restore.gamerGeolocation.x + ', ' + restore.gamerGeolocation.y}}</span>
								</div>
							</div>
						</div>
					</uib-tab>
				</uib-tabset>
			</div>
		</div>

		<div class="modal-footer">
			<div class="form-group">
				<div class="col-md-12 text-right">
					<button type="button" class="btn btn-w-m btn-info" ng-click="done()">Listo</button>
				</div>
			</div>
		</div>
	</form>
</div>