<div id="balance">
    <section class="row header">
        <div class="col-md-4 col-xs-5"></div>
        <div class="col-md-8 col-xs-7 no-padding-left no-padding-right responsive-margin-bottom">
            <div class="col-md-10 name">
                <div class="col-md-3 no-padding-left no-padding-right">
                    <img ng-src="{{$archiveUrl + currentUser.avatar.image.id}}" onerror="this.src='img/contact-person.svg'">
                </div>
                <div class="col-md-9">
                    <h1 class="title">{{currentUser.name}} {{currentUser.lastName}}</h1>
                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="connection">última vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 responsive-padding-h-10">
            <div class="col-md-10 col-xs-12 coins">
                <div class="col-md-12 col-xs-12 no-padding-left no-padding-right">
                    <span class="subtitle">Saldo actual: <span class="dark">{{currentUser.shownBalance | currency: '$': 2}}</span> <i class="gc gc-usd-o"></i></span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-8 col-xs-12 responsive-padding-h-10 information">
            <div class="col-md-2 col-xs-4 picture">
                <img src="img/money-play.svg" alt="money-play">
            </div>
            <div class="col-md-10 col-xs-8 text no-padding-left">
                <p>Puedes canjear tu saldo por efectivo.</p>
                <p>Se te enviará un cheque con el valor TOTAL a tu dirección de elección.</p><br>
                <p class="dark">Mientras M&aacute;s de tus juegos se alquilen,</p>
                <p class="dark">M&aacute;s dinero podr&aacute;s GANAR</p>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 col-xs-12 button">
                <button class="btn btn-tertiary small" ng-click="takeYourBalance()" ng-disabled="currentUser.isRequestingBalance || currentUser.shownBalance <= 0.0">Retira tu saldo</button>
                <span class="request-in-progress" ng-if="currentUser.isRequestingBalance">Retiro de saldo en proceso.</span>
            </div>
            <div class="clearfix"></div>
        </div>
    </section>
    <section class="row five-transactions">
        <h2 class="subtitle "><B>&#218;LTIMAS 5 TRANSACCIONES:</B><hr class="light"></h2>
        <div class="transactions">
            <div class="table-container table-responsive">
                <table width="100%" >
                    <col width="10%">
                    <col width="10%">
                    <col width="20%">
                    <col width="10%">
                    <col width="15%">
                    <col width="15%">
                    <col width="15%">
                    <thead>
                        <tr>
                            <th>FECHA</th>
                            <th>TRANSACCI&#211;N</th>
                            <th>JUEGO</th>
                            <th>TIEMPO<br><h7>(X SEMANA)</h7></th>
                            <th>CREDITO SALDO</th>
                            <th>D&#201;BITO SALDO</th>
                            <th>D&#201;BITO TARJETA</th>
                        </tr>
                    </thead>
                     <tbody>
                        <tr ng-repeat="trans in transactions">
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.creationDate | date: 'dd-MM-yyyy'}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.transaction}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.game}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.weeks}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.balancePart == 0 ? '-' : (trans.balancePart | currency:'$ ':2)}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.debitBalance == 0 ? '-' : (trans.debitBalance | currency:'$ ':2)}}</td>
                            <td ng-class="trans.balancePart != 0 ? 'blue' : 'red'">{{trans.debitCard == 0 ? '-' : (trans.debitCard | currency:'$ ':2)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="center">
            <!-- <button class="btn btn-tertiary small" ng-click="viewHistorial()">Descarga todo tu historial</button> -->
            <a ng-href="{{RestUrl}}/api/transaction/getTransactionsReport?id={{idUser}}" class="btn btn-tertiary small" target="_blank">Descarga todo tu historial</a>
        </div>
    </section>
    <section class="row foother">
        <div class="center">
            <button class="btn btn-tertiary" ng-click="$state.go('gameclub.account.myGames')">ALQUILA TUS JUEGOS Y GANA DINERO</button>
        </div>
    </section>
</div>

<!-- MODAL PARA EL RETIRO DE SALDO -->
<script type="text/ng-template" id="takeYourBalance.html">
    <div id="request-balance-modal" class="inmodal">
        <div class="modal-heading text-center">
            <img id="warning_img" src="img/gamepad.svg" width="20%">
        </div>

        <div class="modal-body">
            <form role="form" on-submit="ok()" class="terms-form form-horizontal" novalidate>
               <div class="form-group">
                    <div class="col-md-12 text-center">
                        <h3 class="title uppercase">¿Estás seguro de retirar tu saldo?</h3>
                       <small>Puedes usar <span class="uppercase">tu saldo</span> actual para alquilar y jugar nuevos juegos</small>
                    </div>
               </div>

               <div class="form-group">
                    <div class="col-md-12 text-center">
                        <most-played games="mostPlayed" previous="getPreviousGame()" next="getNextGame()"></most-played>
                    </div>
               </div>

               <div class="form-group">
                   <div class="col-md-12 text-center">
                       <button type="submit" class="btn small btn-primary">Retirar tu saldo</button>
                       <button type="button" class="btn small btn-primary" ng-click="cancel()">Cancelar</button>
                   </div>
               </div>
            </form>
        </div>
    </div>
</script>
