<div id="search">
    <section class="banner">
        <div class="row search white-search text-left">
            <form class="col-xs-12 col-md-8" role="form" on-submit="find()" novalidate>
                <div class="col-xs-12 col-md-10 search-params">
                    <div class="col-xs-12 col-md-4 filter">
                        <input placeholder="T&iacute;tulo..." ng-model="search.name" uib-typeahead="state for state in nameAutocomplete | filter:$viewValue">
                    </div>
                    <div class="col-xs-12 col-md-4 filter">
                        <ui-select ng-model="search.category" theme="bootstrap" class="selector">
                            <ui-select-match allow-clear placeholder="Categoría...">
                                {{$select.selected.name | limitTo:10}}{{$select.selected.name.length > 10 ? '...' : ''}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                <div ng-bind-html="category.name | highlight: $select.search"></div>
                                <img ng-src="{{category.whiteBase64}}" class="category"/>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 col-md-4 filter to-validate">
                        <ui-select validation ng-model="search.console" theme="bootstrap" class="selector text-center" required>
                            <ui-select-match allow-clear placeholder="Consola...">
                                <img ng-src="{{$select.selected.whiteBase64}}" class="gameConsole"/>
                            </ui-select-match>
                            <ui-select-choices repeat="console in consoles | filter: $select.search" class="text-center">
                                <div ng-bind-html="'' | highlight: $select.search"></div>
                                <img ng-src="{{console.whiteBase64}}" class="gameConsole"/>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2 text-left">
                    <button type="submit" class="btn btn-tertiary"><i class="gc gc-turn-on "></i></button>
                </div>
            </form>
        </div>
    </section>
    <section class="row no-result" ng-if="games.length == 0">
        <h2>Cero resultados</h2>
        <span>Verifica la informaci&oacute;n de b&uacute;squeda y vuelve a intentarlo.</span>
        <div class="separator"></div>
    </section>
    <section class="row result" ng-if="games.length > 0">
        <div ng-repeat="game in games">
            <game-item ng-model="game" ng-click="viewGame(game)">
            <div class="separator" ng-if="$index+1 < games.length"></div>
        </div>
        <div class="clearfix"></div>
        <blog-paging pages="totalPages" ng-model="currentPage" class="paging" ng-change="pageChanged()"></blog-paging>
    </section>
    <section class="final"></section>
</div>
