<!-- ARTICLE COMMENTS DIRECTIVE START -->
<div id="article-comment">
    <div class="comment" ng-repeat="comment in result">
        <div class="comment-row">
            <div class="avatar">
                <img src="img/picture-holder.png" />
            </div>
            <div class="information">
                <span class="datetime"><small>{{comment.creationDate | date:"EEEE, dd 'de' MMMM 'de' yyyy"}}</small><small>{{comment.creationDate | date:"hh:mm a"}}</small></span>
                <p>{{comment.comment}}</p>
            </div>
        </div>
    </div>
    <div class="comments-links">
        <a href ng-click="showMoreComments(level)" ng-if="showMore">Ver m&aacute;s</a>
    </div>
</div>
<!-- ARTICLE COMMENTS DIRECTIVE END -->
