<section id="most-seen">
    <h2>{{title}}</h2>
    <hr class="subtitle" />
    <div class="article-row">
        <div class="col-md-6" ng-repeat="preview in ngModel">
            <article class="blog-preview">
                <div class="col-md-7 col-xs-7 info">
                    <h2 class="hidden-xs" title="{{preview.title}}">{{preview.title | limitTo: 20}}{{preview.title.length > 20 ? '...' : ''}}</h2>
                    <h2 class="visible-xs" title="{{preview.title}}">{{preview.title | limitTo:12}}{{preview.title.length > 12 ? '...' : ''}}</h2>
                    <p class="hidden-xs">{{preview.summary | limitTo:filterSize}}{{preview.summary.length > filterSize ? '...' : ''}}</p>
                    <p class="visible-xs">{{preview.summary | limitTo:filterSize*0.75}}{{preview.summary.length > filterSize*0.75 ? '...' : ''}}</p>
                    <a href ng-click="goToArticle(preview)">Leer más</a>
                </div>
                <div class="col-md-5 col-xs-5 picture">
                    <div class="image-section">
                        <div class="post-date">
                            <div class="post-date-content">
                                <span>{{preview.creationDate | date:'dd'}}</span><span>{{preview.creationDate | date:'MMM'}}</span>
                            </div>
                        </div>
                        <div class="image-cropped">
                            <img class="cursor-pointer" ng-click="goToArticle(preview)" ng-src="{{$archiveUrl + preview.square.id}}" alt="{{preview.title}}-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox" title="{{preview.title}}-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox">
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </article>
        </div>
    </div>
    <div class="pagging">
        <div ng-repeat="page in pageList" ng-class="page.active ? 'page-active' : ''" ng-click="changePage(page)" class="page-button"></div>
    </div>
</section>