<div class="col-md-1"></div>

<div class="col-md-10">
	<div class="ibox">
		<div class="ibox-content">
			<form class="form-horizontal" role="form" on-submit="save()" novalidate>
				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Nombre Completo</label>
					<div class="col-md-9">
						<input validation type="text" class="form-control" ng-model="adminUser.fullName" required maxlength="100">
					</div>
				</div>

				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Correo Electrónico</label>
					<div class="col-md-9">
						<input validation type="email" class="form-control" ng-model="adminUser.username" required maxlength="50">
					</div>
				</div>

				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Perfil</label>
					<div class="col-md-9">
						<ui-select ng-model="adminUser.profile" theme="bootstrap" ng-required="true">
							<ui-select-match placeholder="Seleccione...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="profile in profiles | filter: $select.search">
								<div ng-bind-html="profile.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group to-validate">
					<label class="col-md-3 control-label">Teléfono</label>
					<div class="col-md-9">
						<input validation type="text" class="form-control" ng-model="adminUser.cellPhone" data-mask="999-999-9999">
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-12" style="text-align: right;">
						<button type="submit" class="btn btn-w-m btn-primary">Guardar</button>
						<button type="button" class="btn btn-w-m btn-default" ng-click="cancel()">Cancelar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>