<div id="games">
    <section class="row header">
        <div class="col-md-4"></div>
        <div class="col-md-8 no-padding-left no-padding-right">
            <div class="col-md-10 name">
                <div class="col-md-3 no-padding-left no-padding-right">
                    <img src="img/test/profile-pic.png" />
                </div>
                <div class="col-md-9">
                    <h2 class="title">{{currentUser.name}} {{currentUser.lastName}}</h2>
                    <div class="col-md-12 no-padding-left no-padding-right">
                        <div class="connection">&uacute;ltima vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
                    </div>
                    <button class="btn btn-tertiary full small">Cambiar avatar</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-10 coins">
                <div class="col-md-6 no-padding-left">
                    <span class="subtitle">Coins: <span class="dark">{{currentUser.coins}}</span> <i class="gc gc-usd"></i></span>
                </div>
                <div class="col-md-6 text-center">
                    <button class="btn btn-tertiary small">Obt&eacute;n <span class="light">coins</span> f&aacute;cil</button>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 total">
                <span class="subtitle">Resumen de estatus de juegos</span>
                <div class="col-md-8 description">
                    <span>Juegos actualmente prestados: <span class="dark">0</span></span>
                    <div class="updated">&uacute;ltima actualizaci&oacute;n: <span>01-04-2017</span></div>
                </div>
                <div class="col-md-8 description">
                    <span>Juegos por devolver: <span class="dark">0</span></span>
                    <div class="updated">&uacute;ltima actualizaci&oacute;n: <span>01-04-2017</span></div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>
    <section class="row games" ng-if="!showGame && gamesList.length > 0">
        <form class="header">
            <div class="col-md-4 text-left no-padding-left filters">
                <li>
                    <a href ng-class="filter.sort == 'cost' ? 'active' : ''" ng-click="sortGames('cost')"><i class="gc gc-usd"></i></a>
                </li><li>
                    <a href ng-class="filter.sort == 'game.rating' ? 'active' : ''" ng-click="sortGames('game.rating')"><i class="gc gc-rating"></i></a>
                </li><li>
                    <a href ng-click="sortGames(null)"><i class="gc gc-filter"></i></a>
                </li>
            </div>
            <div class="col-md-4 text-center"><span class="subtitle">Tus juegos</span></div>
            <div class="col-md-4 text-rigth no-padding-right">
                <ui-select ng-model="filter.console" theme="bootstrap" class="selector" on-select="consoleSelected()">
                    <ui-select-match allow-clear placeholder="Consola...">
                        <img ng-src="{{$select.selected.blackBase64}}" class="gameConsole">
                    </ui-select-match>
                    <ui-select-choices repeat="console in consoles | filter: $select.search" class="text-center">
                        <div ng-bind-html="'' | highlight: $select.search"></div>
                        <img ng-src="{{console.blackBase64}}" class="gameConsole">
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="clearfix"></div>
        </form>
        <div class="list">
            <div ng-repeat="cross in gamesList">
                <game-item ng-model="cross.game" console="cross.console" inverse="true" is-editable="true" on-edit="editGame(cross)" show-coins="true"></game-item>
                <div class="separator" ng-if="$index+1 < gamesList.length"></div>
            </div>
            <blog-paging pages="totalPages" ng-model="$parent.filter.page" class="paging" ng-change="pageChanged()"></blog-paging>
        </div>
    </section>
    <div id="game" ng-if="showGame">
        <section class="row banner">
            <div ng-style="background"></div>
        </section>
        <section class="row header">
            <div class="col-md-3 cover">
                <game-rating image-archive="myGame.game.cover" no-rating no-selection="true"></game-rating>
            </div>
            <div class="col-md-6 principal">
                <h2 class="col-md-12 title">{{myGame.game.name}}</h2>
                <div class="col-md-12 rating-container">
                    <i class="gc gc-rating rating-1 yes"></i>
                    <i class="gc gc-rating rating-2 yes"></i>
                    <i class="gc gc-rating rating-3 yes"></i>
                    <i class="gc gc-rating rating-4 yes"></i>
                    <i class="gc gc-rating rating-5"></i>
                </div>
                <div class="col-md-12 no-padding-left no-padding-right">
                    <button type="button" class="btn btn-primary small">Editar informaci&oacute;n</button>
                </div>
            </div>
            <div class="col-md-3 rating text-right">
                <div class="col=md-12 content-rating">
                    <img ng-src="{{myGame.game.contentRating.other}}">
                </div>
                <div class="col=md-12 platform">
                    <img ng-repeat="cross in myGame.game.consoles" archive="cross.console.blackLogo" src="">
                </div>
                <div class="col=md-12 category">
                    <img ng-repeat="cross in myGame.game.categories" archive="cross.category.blackVector" src="">
                </div>
            </div>
        </section>
        <section class="row information">
            <form class="form-horizontal" role="form" on-submit="save()" novalidate>
                <div class="col-md-12">
                    <label class="form-cell">Estatus</label>
                    <div class="form-cell">
                        <ui-select ng-model="gameLoan.status" theme="bootstrap" class="selector">
                            <ui-select-match placeholder="Seleccionar...">{{$select.selected}}</ui-select-match>
                            <ui-select-choices repeat="status in ['DISPONIBLE', 'NO DISPONIBLE']  | filter: $select.search">
                                <div ng-bind-html="status | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 to-validate">
                    <label class="form-cell">Estado del juego</label>
                    <div class="form-cell">
                        <ui-select validation ng-model="myGame.integrity" theme="bootstrap" class="selector" required>
                            <ui-select-match placeholder="Seleccionar...">{{$select.selected}}/10</ui-select-match>
                            <ui-select-choices repeat="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | filter: $select.search">
                                <div ng-bind-html="item | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-md-12 obs">
                    <label class="form-cell">Observaciones</label>
                    <div class="form-cell">
                        <textarea ng-model="myGame.observations" class="complete" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-md-12 insured">
                    <label class="form-cell">Obligacion de asegurar el juego</label>
                    <div class="form-cell">
                        <div class="col-md-12 check" ng-class="myGame.isInsured ? 'active' : ''" ng-click="myGame.isInsured = true">
                            Si <span class="help">(el jugador está obligado a pagar el fee de seguro para poder pedir prestado el juego.)</span>
                        </div>
                        <div class="col-md-12 check" ng-class="!myGame.isInsured ? 'active' : ''" ng-click="myGame.isInsured = false">
                            No <span class="help">(el jugador no está obligado a pagar el fee de seguro para poder pedir prestado el juego.)</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 help to-validate">
                    <label class="form-cell">Costo prestamo por semana</label>
                    <div class="form-cell">
                        <input validation ng-model="myGame.cost" class="coins" placeholder="Coins" type="number" min="0">
                    </div>
                    <span class="form-cell text-right">
                        (Recomendación del juego: {{myGame.game.averageWeekCost}} Coins)
                    </span>
                </div>

                <div class="col-md-12">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary small">Guardar informaci&oacute;n</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </section>
    </div>
    <most-played games="mostPlayed" previous="getPreviousGame()" next="getNextGame()" title="Tus juegos" ng-if="showGame"></most-played>
    <section class="row upload text-center" ng-if="!isSearching && !showGame">
        <span class="subtitle">Carga tus juegos</span>
        <p>Sube tus juegos a la plataforma para que puedas prestarlos, ganar COINS y poder pedir prestado otros juegos.</p>
        <button class="btn btn-secundary small" ng-click="showSearch()">Subir juegos</button>
    </section>
    <section class="banner" ng-if="isSearching">
        <div class="row">
            <hr class="title-up"/>
            <h2 class="upper-case title">Si prestas, juegas</h2>
            <hr class="title-down"/>
            <span class="description">Busca el juego que quieras subir</span>
        </div>
        <div class="row search white-search">
            <div class="col-xs-12 col-md-1"></div>
            <form class="col-xs-12 col-md-11" role="form" on-submit="find()" novalidate>
                <div class="col-xs-12 col-md-10 search-params">
                    <div class="col-xs-12 col-md-4 filter">
                        <input placeholder="T&iacute;tulo..." ng-model="search.name">
                    </div>
                    <div class="col-xs-12 col-md-4 filter">
                        <ui-select ng-model="search.category" theme="bootstrap" class="selector">
                            <ui-select-match allow-clear placeholder="Categoría...">
                                {{$select.selected.name | limitTo:10}}{{$select.selected.name.length > 10 ? '...' : ''}}
                            </ui-select-match>
                            <ui-select-choices repeat="category in categories | filter: $select.search">
                                <div ng-bind-html="category.name | highlight: $select.search"></div>
                                <img ng-src="{{category.whiteBase64}}" class="category"/>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-xs-12 col-md-4 filter">
                        <ui-select ng-model="search.console" theme="bootstrap" class="selector text-center">
                            <ui-select-match allow-clear placeholder="Consola...">
                                <img ng-src="{{$select.selected.whiteBase64}}" class="gameConsole"/>
                            </ui-select-match>
                            <ui-select-choices repeat="console in consoles | filter: $select.search" class="text-center">
                                <div ng-bind-html="'' | highlight: $select.search"></div>
                                <img ng-src="{{console.whiteBase64}}" class="gameConsole"/>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2 text-left">
                    <button type="submit" class="btn btn-tertiary"><i class="gc gc-turn-on"></i></button>
                </div>
            </form>
            <div class="col-xs-12 col-md-1"></div>
        </div>
    </section>
</div>
