<div class="inmodal">
	<div class="modal-heading text-center">
		<h2 class="tertiary"><i class="fa fa-lock"></i></h2>
		<h3 class="tertiary">Cambiar Contraseña</h3>
	</div>

	<div class="modal-body">
		<form class="form-horizontal" role="form" on-submit="ok()" novalidate>
			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Contraseña actual</label>
				<div class="col-md-8">
					<input validation type="password" class="input-form complete" ng-model="password.current">
				</div>
			</div>

			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Nueva contraseña</label>
				<div class="col-md-8">
					<input validation type="password" class="input-form complete" ng-model="password.change" required ng-minlength="6" ng-pattern="passRegex">
				</div>
			</div>

			<div class="form-group to-validate">
				<label class="col-md-4 control-label">Confirmar contraseña</label>
				<div class="col-md-8">
					<input validation type="password" class="input-form complete" ng-model="password.confirm" required ng-minlength="6" ng-pattern="passRegex">
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-6 text-center">
					<button type="submit" class="btn save">Aceptar</button>
				</div>

				<div class="col-md-6 text-center">
					<button type="button" class="btn cancel" ng-click="cancel()">Cancelar</button>
				</div>
			</div>
		</form>
	</div>
</div>