.navbar-default .nav > li > a:hover {
	color: #2cb4bf !important;
}

.navbar-default .nav > li > a:focus {
	color: #e32a3d !important;
}

.nav > li.active > a {
	color: #e32a3d !important;
}

.navbar-default .nav > li.active > a:hover {
	color: #e32a3d !important;
}

label.control-label:after {
	content: ":";
}

.form-group.to-validate.label-required label.control-label:before,
.form-group .to-validate.label-required label.control-label:before,
.form-group .to-validate .label-required label.control-label:before {
	content: "*";
}

.control-info {
	padding-top: 7px;
}

table thead tr th {
	text-align: center !important;
	vertical-align: middle !important;
}

table tbody tr td {
	vertical-align: middle !important;
}

.dataTables_filter {
	text-align: left !important;
}

.cropped-img {
	margin-top: 5%;
	width: 100%;
}

.diamond-cover {
	position: absolute;
	left: 0; top: 4.75%;
	max-width: 100%;
	width: -webkit-fill-available;
	margin-left: 15px;
	margin-right: 15px;
}

.irs-slider {
	cursor: pointer !important;
}

.center {
	text-align: center;
}