<!-- Section for the WELCOME KIT or SHIPPING KIT -->
<div class="welcome-kit col-md-12 col-xs-12" ng-if="kit != null">
    <div class="date">{{kit.creationDate | date: 'dd/MM/yy - HH:mm'}}</div>
    <div class="red-box">
        <form class="form-horizontal" role="form" novalidate>
            <span class="body">Hola {{kit.publicUser.name}},</span>
            <div ng-if="kit.quantity == 0">
                <span class="body">GAME CLUB te da la bienvenida, te enviaremos un Welcome Kit para que puedas pedir y alquilar juegos, por favor confirma tu información de recepción. Asegúrate de que la Persona de Entrega esté presente en la dirección que registrate para recibir el Welcome Kit</span>
            </div>
            <div ng-if="kit.quantity > 0">
                <span class="body">
                    Gracias por tu compra. Serán debitados <span ng-if="kit.amountCardValue > 0">{{kit.amountCardValue | currency:'$ ':2}} de tu tarjeta <span ng-if="kit.amountBalanceValue > 0">y</span></span> <span ng-if="kit.amountBalanceValue > 0">{{kit.amountBalanceValue | currency:'$ ':2}} de tu balance</span>.
                </span>
                <span class="body">
                    Enviaremos tu<span ng-if="kit.quantity > 1">s</span> Shipping Kit<span ng-if="kit.quantity > 1">s ({{kit.quantity}})</span> para que puedas seguir pidiendo y alquilando juegos, por favor confirma tu información de recepción.
                </span>
            </div>

            <div class="form-row col-md-12">
                <label class="col-md-3 control-label">Ciudad</label>
                <div class="col-md-9 city">
                    <span>{{currentUser.location.name}}</span>
                </div>
            </div>
            <div class="form-row col-md-12">
                <label class="col-md-3 control-label">Dirección</label>
                <div class="col-md-9">
                    <textarea type="text" class="address" ng-model="kit.address" required ng-init="kit.address = currentUser.billingAddress" rows="3" ng-disabled="kit.wasConfirmed"></textarea>
                </div>
            </div>
            <div class="form-row col-md-12">
                <label class="col-md-3 control-label">Teléfono</label>
                <div class="col-md-9">
                    <input type="text" class="phone" ng-model="kit.phone" required ng-init="kit.phone = currentUser.contactPhone" onkeypress="return !isNaN(String.fromCharCode(event.charCode))" ng-disabled="kit.wasConfirmed">
                </div>
            </div>
            <div class="form-row col-md-12">
                <label class="col-md-5 control-label">Persona de entrega</label>
                <div class="col-md-7">
                    <input type="text" class="receiver" ng-model="kit.receiver" required ng-init="kit.receiver = currentUser.name + ' ' + currentUser.lastName" ng-disabled="kit.wasConfirmed">
                </div>
            </div>
            <div class="form-row col-md-12">
                <label class="col-md-3 control-label">Geolocalización</label>
                <i class="gc gc-address cursor-pointer" ng-click="openMap(kit)" ng-if="!kit.wasConfirmed"></i>
                <i class="gc gc-address cursor-no-drop" ng-if="kit.wasConfirmed"></i>
                <img class="geo-check" src="/img/check.svg" ng-if="kit.geolocation != null">
                <span ng-if="!kit.geolocation">Aprieta el botón de GEOLOCALIZACIÓN</span>
            </div>
            <div class="form-row col-md-12">
                <button type="button" class="btn btn-tertiary full btn-xs" ng-click="confirmKit(kit)" ng-if="!kit.wasConfirmed">Confirmar envío</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

    <div class="date" ng-if="kit.wasConfirmed">{{kit.confirmationDate | date: 'dd/MM/yy - HH:mm'}}</div>
    <div class="blue-box small-box text-center" ng-if="kit.wasConfirmed">
        <div class="box-label col-md-12">
            <span>Confirmado</span>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="date" ng-if="kit.tracking != null && kit.tracking != ''">{{kit.updateDate | date: 'dd/MM/yy - HH:mm'}}</div>
    <div class="red-box" ng-if="kit.tracking != null && kit.tracking != ''">
        <span class="body">Hola {{kit.publicUser.name}},</span>
        <div ng-if="kit.quantity == 0">
            <span class="body">Tu Welcome Kit ha sido enviado a la dirección que nos has proporcionado.</span>
        </div>
        <div ng-if="kit.quantity > 0">
            <span class="body">Tu<span ng-if="kit.quantity > 1">s</span> Shipping Kit<span ng-if="kit.quantity > 1">s ({{kit.quantity}})</span> ha<span ng-if="kit.quantity > 1">n</span> sido enviado<span ng-if="kit.quantity > 1">s</span> a la dirección que nos has proporcionado.</span>
        </div>
        <span class="body">Estado del envío:</span> <span class="body text-black">{{kit.shippingStatus.name}}</span>
        <div ng-if="kit.shippingNote != null && kit.shippingNote != ''">
            <span>Observaciones: </span><span class="text-black">{{kit.shippingNote}}</span>
        </div>
    </div>
</div>
