<div id="messages">
	<section class="row header">
		<div class="col-md-4 col-xs-5"></div>
		<div class="col-md-8 col-xs-7 no-padding-left no-padding-right responsive-margin-bottom">
			<div class="col-md-10 name">
				<div class="col-md-3 no-padding-left no-padding-right">
					<img ng-src="{{$archiveUrl + currentUser.avatar.image.id}}" onerror="this.src='img/contact-person.svg'" alt="Avatar-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox" title="Avatar-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox">
				</div>
				<div class="col-md-9">
					<h1 class="title">{{currentUser.name}} {{currentUser.lastName}}</h1>
					<div class="col-md-12 no-padding-left no-padding-right">
						<div class="connection">última vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="clearfix"></div>

        <div class="col-md-4 col-xs-0"></div>
        <div class="col-md-8 col-xs-12">
			<div class="col-md-10 col-xs-12 coins">
                <div class="col-md-12 col-xs-12 no-padding-left">
                    <span class="subtitle">Saldo actual: <span class="dark">{{currentUser.shownBalance | currency: '$': 2}}</span> <i class="gc gc-usd-o"></i></span>
                </div>
            </div>
		</div>
        <div class="clearfix"></div>

		<div class="col-md-4 col-xs-0"></div>
        <div class="col-md-8 col-xs-12">
            <div class="col-md-12 col-xs-12 total">
                <h2 class="subtitle">Resumen de status de juegos</h2>

                <div class="col-md-12 col-xs-12 description">
                    <div>Juegos actualmente alquilados: <span class="dark">{{summary.borrowed}}</span></div>
                    <div class="updated">última actualización: <span>{{summary.updateDate | date: 'dd-MM-yyyy'}}</span></div>
                </div>

                <div class="col-md-12 col-xs-12 description">
                    <div>Juegos por devolver: <span class="dark">{{summary.toReturn}}</span></div>
                    <div class="updated">última actualización: <span>{{summary.updateDate | date: 'dd-MM-yyyy'}}</span></div>
                </div>
            </div>
		</div>
		<div class="clearfix"></div>
	</section>

	<section class="row messages">
		<div class="inbox col-md-12">
			<div class="list col-md-4">
				<div class="head">Mensajes</div>
				<div class="search">
					<input type="text" placeholder="Buscar en mensajes" ng-model="search">
				</div>
				<div class="scrollable">
					<span class="no-messages" ng-if="messages.length == 0">No tienes ningún mensaje</span>
					<div class="inbox-cell" ng-class="{'unread': !message.read, 'selected': message.selected}" ng-repeat="message in messages" ng-click="messageSelected(message)">
						<div class="image col-md-3 col-xs-2">
							<img src="img/messages/gameclub-icon.svg" ng-if="!message.isLoan" alt="GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox" title="GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox">
							<img class="avatar" archive="message.fromUser ? message.fromUser.avatar.image : message.toUser.avatar.image" placeholder="img/contact-person{{message.read && !message.selected ? '-black' : ''}}.svg" ng-if="message.isLoan" alt="Avatar-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox" title="Avatar-GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox">
						</div>
						<div class="labels col-md-7 col-xs-8">
							<span id="from">{{getFromTo(message)}}</span>
							<span>{{message.subject}}</span>
						</div>
						<div class="date col-md-2 col-xs-2">
							<span>{{getFormattedDate(message.date)}}</span>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="detail col-md-8">
				<div class="head">Detalle del mensaje</div>

				<div class="canvas">
					<span class="no-content" ng-if="noSelected()">Selecciona un mensaje</span>

					<div ng-include="'js/modules/account/messages/view/kitsSection.html'"></div>

					<div class="loan col-md-12" ng-if="loan">
						<div ng-include="'js/modules/account/messages/view/gamerFlow.html'" scope="this" ng-if="currentUser.id == loan.gamer.id"></div>
						<div ng-include="'js/modules/account/messages/view/lenderFlow.html'" scope="this" ng-if="currentUser.id != loan.gamer.id"></div>
					</div>

					<div class="welcome-fine col-md-12" ng-if="fine.status != null">
						<div class="date" >{{fine.message.date | date: 'dd/MM/yy - HH:mm'}}</div>
							<div class="red-box medium-box" >
								<span>Hola {{fine.owner.name}}, has sido cobrado el valor de {{fine.amount | currency: '$': 2}}, por {{fine.description}}, este saldo ha sido descontado de tu balance y/o tu tarjeta ingresada. </span>
							</div>
							<br>
					</div>

					<div class="welcome-amountrq col-md-12" ng-if="amountRequest.status != null">
						<div class="date" >{{amountRequest.message.date | date: 'dd/MM/yy - HH:mm'}}</div>
							<div class="red-box medium-box" >
								<span>Estimado {{amountRequest.publicUser.name}}, hemos realizado la transacción del retiro de tu saldo  por un valor de {{amountRequest.showAmount | currency: '$': 2}}. </span>
							</div>
							<br>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</section>
</div>

<script type="text/ng-template" id="firstLoanAnswer.html">
	<div class="date" ng-if="!loan.status && !loan.wasAccepted">{{loan.updateDate | date: 'dd/MM/yy - HH:mm'}}</div>
	<div class="blue-box small-box text-center" ng-if="!loan.status && !loan.wasAccepted">
		<div class="box-label col-md-12">
			<span>Alquiler Cancelado</span>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="date" ng-if="loan.wasAccepted">{{loan.acceptedDate | date: 'dd/MM/yy - HH:mm'}}</div>
	<div class="blue-box small-box text-center" ng-if="loan.wasAccepted">
		<div class="box-label col-md-12">
			<span>Alquiler Aceptado</span>
		</div>

		<div class="clearfix"></div>
	</div>

	<div class="date" ng-if="loan.wasAccepted == false">{{loan.updateDate | date: 'dd/MM/yy - HH:mm'}}</div>
	<div class="blue-box small-box text-center" ng-if="loan.wasAccepted == false">
		<div class="box-label col-md-12">
			<span>Alquiler Rechazado</span>
		</div>

		<div class="clearfix"></div>
	</div>
</script>
