<div id="messages">
	<section class="row header">
		<div class="col-md-4"></div>
		<div class="col-md-8 no-padding-left no-padding-right">
			<div class="col-md-10 name">
				<div class="col-md-3 no-padding-left no-padding-right">
					<img id="avatar_img" archive="currentUser.avatar.image" placeholder="img/contact-person.svg">
				</div>
				<div class="col-md-9">
					<h1 class="title">{{currentUser.name}} {{currentUser.lastName}}</h1>
					<div class="col-md-12 no-padding-left no-padding-right">
						<div class="connection">&uacute;ltima vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-10 coins">
				<div class="col-md-6 no-padding-left">
					<span class="subtitle">Coins: <span class="dark">{{currentUser.coins}}</span> <i class="gc gc-usd-o"></i></span>
				</div>
				<div class="col-md-6 text-center">
					<button class="btn btn-tertiary small">Obt&eacute;n <span class="light">coins</span> f&aacute;cil</button>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-12 total">
				<span class="subtitle">Resumen de estatus de juegos</span>
				<div class="col-md-8 description">
					<span>Juegos actualmente prestados: <span class="dark">0</span></span>
					<div class="updated">&uacute;ltima actualizaci&oacute;n: <span>01-04-2017</span></div>
				</div>
				<div class="col-md-8 description">
					<span>Juegos por devolver: <span class="dark">0</span></span>
					<div class="updated">&uacute;ltima actualizaci&oacute;n: <span>01-04-2017</span></div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>

	<section class="row messages">
		<div class="inbox col-md-12">
			<div class="list col-md-4">
				<div class="head">Mensajes</div>

				<div class="search">
					<input type="text" placeholder="Buscar en mensajes" ng-model="search">
				</div>

				<div class="scrollable">
					<span class="no-messages" ng-if="messages.length == 0">No tienes ningún mensaje</span>
					<div class="inbox-cell" ng-class="{'unread': !message.read, 'selected': message.selected}" ng-repeat="message in messages" ng-click="messageSelected(message)">
						<div class="image col-md-3">
							<img src="img/messages/gameclub-icon.svg" ng-if="!message.isLoan">
							<img class="avatar" archive="message.fromUser ? message.fromUser.avatar.image : message.toUser.avatar.image" placeholder="img/contact-person{{message.read && !message.selected ? '-black' : ''}}.svg" ng-if="message.isLoan">
						</div>

						<div class="labels col-md-6">
							<span id="from">{{getFromTo(message)}}</span>
							<br>
							<span>{{message.subject}}</span>
						</div>

						<div class="date col-md-3">
							<span>{{getFormattedDate(message.date)}}</span>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>
			</div>

			<div class="detail col-md-8">
				<div class="head">Detalle del mensaje</div>

				<div class="canvas">
					<span class="no-content" ng-if="noSelected()">Selecciona un mensaje</span>

					<div class="welcome-kit col-md-12" ng-repeat="kit in welcomeKits" ng-if="welcomeKits">
						<div class="date">{{kit.creationDate | date: 'dd/MM/yy - HH:mm'}}</div>
						<div class="red-box">
							<form class="form-horizontal" role="form" novalidate>
								<span class="body">Hola {{kit.publicUser.name}},</span>
								<br><br>
								<span class="body">GAME CLUB te da la bienvenida, te enviaremos un Welcome Kit para que puedas pedir y prestar juegos, por favor confirma tu información de recepción.</span>
								<br>

								<div class="form-row col-md-12">
									<label class="col-md-3 control-label">Ciudad</label>
									<div class="col-md-9">
										<span>{{currentUser.location.name}}</span>
									</div>
								</div>

								<div class="form-row col-md-12">
									<label class="col-md-3 control-label">Dirección</label>
									<div class="col-md-9">
										<textarea type="text" class="address" ng-model="kit.address" required ng-init="kit.address = currentUser.billingAddress" rows="3"></textarea>
									</div>
								</div>

								<div class="form-row col-md-12">
									<label class="col-md-3 control-label">Teléfono</label>
									<div class="col-md-9">
										<input type="text" class="phone" ng-model="kit.phone" required ng-init="kit.phone = currentUser.contactPhone" onkeypress="return !isNaN(String.fromCharCode(event.charCode))">
									</div>
								</div>

								<div class="form-row col-md-12">
									<label class="col-md-5 control-label">Persona de entrega</label>
									<div class="col-md-7">
										<input type="text" class="receiver" ng-model="kit.receiver" required ng-init="kit.receiver = currentUser.name + ' ' + currentUser.lastName">
									</div>
								</div>

								<div class="form-row col-md-12">
									<label class="col-md-3 control-label"><i class="gc gc-address" ng-click="openMap(kit)"></i></label>
									<div class="col-md-9">
										<img class="geo-check" src="/img/check.svg" ng-if="kit.geolocation != null">
									</div>
								</div>

								<div class="form-row col-md-12">
									<button type="button" class="btn btn-tertiary full btn-xs" ng-click="confirmWelcomeKit(kit)">Confirmar envío</button>
								</div>

								<div class="clearfix"></div>
							</form>
						</div>
					</div>

					<div class="loan col-md-12" ng-if="loan">
						<div class="date">{{loan.creationDate | date: 'dd/MM/yy - HH:mm'}}</div>
						<div class="red-box" ng-if="currentUser.id == loan.gamer.id">
							<span>Hola {{currentUser.name}},</span>
							<br>
							<br>
							<span class="text-black">Has pedido a {{loan.publicUserGame.publicUser.name}} {{loan.publicUserGame.publicUser.name | limitTo: 1}}</span>
							<button type="button" class="btn btn-xs btn-tertiary-alt full">Ver ficha del usuario</button>
							<br>
							<span>el siguiente juego:</span>
							<br>
							<span class="game-title">{{loan.publicUserGame.game.name}}</span>
							<button type="button" class="btn btn-xs btn-tertiary-alt full">Ver ficha del juego</button>
							<br>
							<br>
							<span>Durante <span class="text-black">{{loan.weeks}} semanas</span> desde la entrega del juego.</span>
							<br>
							<span>Pagarás un total de <span class="text-black">{{loan.publicUserGame.cost}} COINS</span> por este préstamo.</span>
							<br>
							<span>Si el préstamo es rechazado volverán a acreditarse a tu cuenta.</span>
							<br>
							<br>
							<span>Una vez aceptado el préstamo, se te notificará la fecha exacta que llegará el juego.</span>
							<br>
							<br>
							<span class="text-black">Solicitud de prestamo #XX XX XX XX</span>
							<br>
							<br>
							<button type="button" class="btn btn-xs btn-tertiary">Cancelar pedido</button>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>
			</div>

			<div class="clearfix"></div>
		</div>
	</section>
</div>