<div id="referred">
	<section class="row header">
		<div class="col-md-4 col-xs-5"></div>
		<div class="col-md-8 col-xs-7 no-padding-left no-padding-right container">
			<div class="col-md-10 name">
				<div class="col-md-3 no-padding-left no-padding-right">
					<img id="avatar_img" archive="currentUser.avatar.image" placeholder="img/contact-person.svg">
				</div>
				<div class="col-md-9">
					<h1 class="title">{{currentUser.name}} {{currentUser.lastName}}</h1>
					<div class="col-md-12 no-padding-left no-padding-right">
						<div class="connection">&uacute;ltima vez conectado: <span>{{currentUser.lastConnection | date: 'dd-MM-yyyy'}}</span></div>
					</div>
					<button class="btn btn-tertiary full small" >Cambiar avatar</button>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-4 col-xs-0"></div>
		<div class="col-md-8 col-xs-12 no-padding-left no-padding-right container">
			<div class="col-md-12 banner-information">
				<p class="light-text light1">COMPARTE</p>
				<p class="light-text light2">ESTA EXPERIENCIA</p>
				<p class="light-text light3">GAMER</p>
				<p class="light-text light4">CON TUS AMIGOS</p>
			</div>
		</div>
		<div class="clearfix"></div>
	</section>
	<section class="row gamers">
		<form id="frmLink" class="link-form">
			<div class="col-md-12 col-xs-12 gamers-title">
				<div class="col-md-4 col-xs-12">
					<img src="img/joystick1.svg" alt="img/joystick1.svg" />
				</div>
				<div class="col-md-8 col-xs-12">
					<h2 class="title">Todos los Gamers ganan</h2>
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-12 gamers-description">
				<p class="red">Comparte tu link en las redes sociales para que tus amigo se registren.</p>
				<p class="red">Se te acreditar&aacute;n $5 en tu Cuenta por cada referido que ingrese un juego.</p>
				<p class="red">Si alguno de tus referidos alquila un juego, tambi&eacute;n se le acreditar&aacute; $5 a tu Cuenta.</p>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-5 col-xs-5 dark"><span>Comparte tu link:</span></div>
			<div class="clearfix"></div>

			<div class="col-md-12 col-xs-12 link-generation">
				<div class="col-md-5 col-xs-5 no-padding-right text-right">
					<button class="btn btn-primary link" ng-click="generateUrlToken()">GENERA TU LINK</button>
				</div>
				<div class="col-md-7 col-xs-7 no-padding-left text-left">
					<input id="reffer-link" type="text" placeholder="HTTPS://GOO.GL/CCTXTC" ng-model="reffer.link" readonly />
				</div>
			</div>
			<div class="clearfix"></div>

			<div class="col-md-12 copy-link">
				<div class="col-md-5 no-padding-right text-right">
					<button class="btn btn-primary full copy-link" ng-click="copyLinkToClipboard()">COPIA TU LINK</button>
				</div>
				<div class="col-md-7 text-left">
					<button class="btn btn-secundary full facebook" ng-click="shareLinkFB()" ng-disabled="!reffer.link">COMPARTE EN FACEBOOK</button>
				</div>
			</div>
			<div class="clearfix"></div>
		</form>
	</section>
	<section class="row win-money">
		<div class="col-md-12 win-money-title">
			<h2 class="title">G&Aacute;NA DINERO F&Aacute;CIL</h2>
		</div>
		<div class="col-md-12 description">
			<div class="col-md-4 center">
				<img src="img/mouse-money.svg" alt="img/mouse-money.svg" />
				<h2 class="subtitle">
					<span>COMPARTE TU LINK</span>
					<span>A TUS AMIGOS</span>
				</h2>
			</div>
			<div class="col-md-4 center">
				<img src="img/compact-disc.svg" alt="img/compact-disc.svg" />
				<h2 class="subtitle">
					<span>GANA POR CADA REFERIDO</span>
					<span>QUE INGRESE SU PRIMER JUEGO</span>
				</h2>
			</div>
			<div class="col-md-4 center no-padding-left no-padding-right">
				<img src="img/small-gamepad-black.svg" alt="img/small-gamepad-black.svg" />
				<h2 class="subtitle">
					<span>GANA DINERO POR CADA REFERIDO</span>
					<span>QUE ALQUILE SU PRIMER JUEGO</span>
				</h2>
			</div>
		</div>
	</section>
</div>
