<footer class="col-md-12 no-padding-left no-padding-right">
    <section class="row col-md-12">
        <div class="col-md-2 logo">
            <img src="img/gameclub-logo-footer.png"/>
        </div>
        <div class="col-md-10 links-text">
            <div class="col-md-4 links no-padding-right top-space">
                <a class="col-md-12 spacing" href>share&nbsp;&nbsp;&amp;&nbsp;&nbsp;play</a>
                <a class="col-md-12" href>Preguntas Frecuentes</a>
                <a class="col-md-12" href>T&eacute;rminos y condiciones</a>
            </div>
            <div class="col-md-3 links top-space">
                <a class="col-md-12" href>Blog</a>
                <a class="col-md-12" href>Contact&aacute;nos</a>
            </div>
            <div class="col-md-5 contacts-shares">
                <div class="col-md-12 top-space">
                    <a href="mailto:info@gameclub.com.ec"><span class="col-md-1"><img src="img/mail-to.png"/></span>info@gameclub.com.ec</a>
                </div>
                <div class="col-md-12 top-space">
                    <a href="tel:+593967995408"><span class="col-md-1"><img src="img/whatsapp.png"/></span>(+593) 96 799 5408</a>
                </div>
                <div class="col-md-12 social-media top-space">
                    <img src="img/fb-icon.png"/>
                    <img src="img/instagram-icon.png"/>
                    <img src="img/youtube-icon.png"/>
                    <img src="img/twitter-icon.png"/>
                </div>
            </div>
            <div class="col-md-12 copyright">
                <span class="col-md-12">Todos los derechos reservados - <img src="img/gameclub-blue.png"> - 2017</span>
            </div>
        </div>
    </section>
    <section class="col-md-12 designed">
        Designed by <span>DON ALFARO<span>
    </section>
</footer>
