<footer id="main-footer" class="col-md-12 no-padding-left no-padding-right">
    <section class="row col-md-12">
        <div class="col-md-2 logo">
            <img src="img/gameclub-footer-logo.svg" ui-sref="gameclub.home"/>
        </div>
        <div class="col-md-10 links-text">
            <div class="col-md-4 links no-padding-right top-space">
                <a class="col-md-12 spacing" ui-sref="{{link.shareAndPlay.route}}">share&nbsp;&nbsp;&amp;&nbsp;&nbsp;play</a>
                <a class="col-md-12" href>Preguntas Frecuentes</a>
                <a class="col-md-12" ui-sref="{{link.termsConditions.route}}">{{link.termsConditions.name}}</a>
                <a class="col-md-12" ui-sref="{{link.publicProfile.route}}">{{link.publicProfile.name}}</a>
            </div>
            <div class="col-md-4 links top-space">
                <a class="col-md-12" ui-sref="{{link.blog.route}}">Blog</a>
                <a class="col-md-12" href>Cont&aacute;ctanos</a>
                <a class="col-md-12" ui-sref="{{link.workForUs.route}}">{{link.workForUs.name}}</a>
            </div>
            <div class="col-md-4 contacts-shares">
                <div class="contacts">
                    <div class="col-md-12 top-space">
                        <a href="mailto:info@gameclub.com.ec"><img src="img/mail-to.svg"/><span>info@gameclub.com.ec</span></a>
                    </div>
                    <div class="col-md-12 top-space">
                        <a href="tel:+593967995408"><i class="fa fa-whatsapp"></i><span>(+593) 96 799 5408</span></a>
                    </div>
                </div>
                <div class="col-md-12 social-media top-space">
                    <a href="https://www.facebook.com/gameclub.ec/" target="_blank"><i class="gc gc-facebook"></i></a>
                    <a href><i class="gc gc-instagram"></i></a>
                    <a href><i class="gc gc-youtube"></i></a>
                    <a href><i class="gc gc-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-12 copyright">
                <span class="col-md-12">Todos los derechos reservados - <span class="title game-font game-font-light-blue">GameClub</span> - 2017</span>
            </div>
        </div>
    </section>
    <section class="col-md-12 designed">
        Designed by <span>DON ALFARO<span>
    </section>
</footer>
