<footer id="main-footer" class="col-md-12 no-padding-left no-padding-right" >
    <section class="row col-md-12">
        <div class="col-md-2 logo">
            <img src="img/gameclub-footer-logo.svg" ui-sref="gameclub.home" alt="GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox" title="GameClub-Alquila-Juegos-Gana-Dinero-Playstation-Nintendo-Xbox">
        </div>
        <div class="col-md-10 links-text">
            <div class="col-md-4 links no-padding-right top-space">
                <!--<a class="col-md-12 spacing" ng-click="goToHowItWork()" href="./gameclub/home#how-it-works">-->
                <a class="col-md-12 spacing" href="" ng-click="gotoAnchor('gameclub.home','how-it-works')">share&nbsp;&nbsp;&amp;&nbsp;&nbsp;play</a>
                <a class="col-md-12" ui-sref="{{link.faq.route}}">Preguntas Frecuentes</a>
                <a class="col-md-12" ui-sref="{{link.termsConditions.route}}">{{link.termsConditions.name}}</a>
            </div>
            <div class="col-md-4 links top-space">
                <a class="col-md-12" ui-sref="{{link.blog.route}}">{{link.blog.name}}</a>
                <a class="col-md-12" ui-sref="{{link.contactUs.route}}">{{link.contactUs.name}}</a>
                <a class="col-md-12" ui-sref="{{link.workForUs.route}}">{{link.workForUs.name}}</a>
            </div>
            <div class="col-md-4 contacts-shares">
                <div class="contacts">
                    <div class="col-md-12 top-space">
                        <a href="mailto:info@gameclub.com.ec"><img src="img/mail-to.svg"/><span>info@gameclub.com.ec</span></a>
                    </div>
                    <div class="col-md-12 top-space">
                        <a href="https://www.facebook.com/gameclub.ec/" target="_blank"><i class="gc gc-facebook"></i><span>gameclub.ec</span></a>
                    </div>
                </div>

                <div class="col-md-12 social-media top-space">
                    <a href="https://my.playstation.com/gameclubec" target="_blank">
                        <img src="img/home/ps-logo.svg" height="15px" onmouseover="this.src='img/home/ps-white-logo.svg';" onmouseout="this.src='img/home/ps-logo.svg';" alt="PlayStation-Alquila-Juegos-Gana-Dinero" title="PlayStation-Alquila-Juegos-Gana-Dinero">
                    </a>
                    <a href="https://account.xbox.com/en-us/Profile?GamerTag=GameClubEC" target="_blank">
                        <img src="img/home/xbox-logo.svg" height="15px" onmouseover="this.src='img/home/xbox-white-logo.svg';" onmouseout="this.src='img/home/xbox-logo.svg';" alt="Xbox-Alquila-Juegos-Gana-Dinero" title="Xbox-Alquila-Juegos-Gana-Dinero">
                    </a>
                    <a href="http://www.nintendo.com/" target="_blank">
                        <img src="img/home/nintendo-logo.svg" height="15px" onmouseover="this.src='img/home/nintendo-white-logo.svg';" onmouseout="this.src='img/home/nintendo-logo.svg';" alt="Nintendo-Alquila-Juegos-Gana-Dinero" title="Nintendo-Alquila-Juegos-Gana-Dinero">
                    </a>
                </div>
            </div>
            <div class="col-md-12 copyright">
                <span class="col-md-12">Todos los derechos reservados <span class="title game-font game-font-light-blue">GameClub</span> - 2017</span>
            </div>
        </div>
    </section>
    <section class="col-md-4 designed">
        Incubated by <span><a href="http://www.usfq.edu.ec/Paginas/Inicio.aspx" target="_blank"><font color=#ffffff>USFQ Business School</font></a></span>
    </section>
    <section class="col-md-4 designed">
        Designed by <span><a href="http://www.donalfaro.com/" target="_blank"><font color=#ffffff>DON ALFARO</font></a></span>
    </section>
    <section class="col-md-4 designed">
        Powered by <span><a href="http://www.levelapsoftware.com/" target="_blank"><font color=#ffffff>LEVELAP</font></a></span>
    </section>
</footer>