<header>
    <div class="row">
        <section class="social-media col-md-6">
            <a href="https://www.facebook.com/gameclub.ec/" target="_blank"><i class="gc gc-facebook"></i></a>
            <a href><i class="gc gc-instagram"></i></a>
            <a href><i class="gc gc-youtube"></i></a>
            <a href><i class="gc gc-twitter"></i></a>
        </section>
        <section class="contacts col-md-6">
            <a href="mailto:info@gameclub.com.ec"><img src="img/mail-to.svg"/><span>info@gameclub.com.ec</span></a>
            <a href="tel:+593967995408"><i class="fa fa-whatsapp"></i><span>(+593) 96 799 5408</span></a>
        </section>
    </div>
    <section class="row shortcut-links">
        <div class="col-md-4">
            <img src="img/gameclub-logo.svg" height="70px" ui-sref-active="active" ui-sref="gameclub.home"/>
        </div>
        <div class="col-md-8 text-right links" ng-style="paddingLogged">
            <nav>
                <li><button class="btn btn-primary" ui-sref="{{link.shareAndPlay.route}}" ui-sref-active="active"><span class="spacing">{{link.shareAndPlay.name}}</span></button></li>
                <li><button class="btn btn-primary" ><span class="upper-case">{{link.faq.name}}</span></button></li>
                <li><button class="btn btn-primary" ui-sref="{{link.blog.route}}" ui-sref-active="active"><span class="upper-case">{{link.blog.name}}</span></button></li>
                <li ng-if="!currentUser">
                    <button class="btn btn-primary" ui-sref="{{link.login.route}}" ui-sref-active="active"><span class="upper-case">{{link.login.name}}</span></button>
                </li>
                <li ng-if="currentUser" class="account">
                    <button class="btn btn-primary" ui-sref="{{link.account.route}}" ui-sref-active="active">
                        <span class="upper-case">
                            <span class="name">{{currentUser.name}}</span> <span class="last-name">{{currentUser.lastName}}</span>
                        </span>
                        <img src="img/test/profile-pic.png" class="avatar"/>
                    </button>
                </li>
            </nav>
        </div>
        <div ng-if="currentUser" class="col-md-12 text-right coins">
            <span class="text">{{currentUser.coins}}</span>
            <i class="fa fa-usd"></i>
        </div>
        <div class="clearfix"></div>
    </section>
</header>
