@import url("variables.less");

@media only screen and (max-width: 768px) {
	.row{margin:0;padding:0;}
	.row-left{margin:0;padding-left:0;}
	.row-right{margin:0;padding-right:0;}

	header .contacts{text-align:left;padding-left:0;}
	header#main-header{margin-bottom:-5%;}
	header#main-header .social-media,header#main-header .contacts{display:none;}
	header#main-header .shortcut-links{background:@color-primary;padding:0;}
	header#main-header .shortcut-links .navbar-default{margin-top:-3%;}
	header#main-header .shortcut-links img{width:100%;}
	header#main-header .shortcut-links .links{padding:2.5% 0%;}
	header#main-header .shortcut-links .links nav li{display:block;border-left:unset !important;text-align:center;border-bottom:2px solid @color-secundary;margin-left:10%;margin-right:10%;}
	header#main-header .shortcut-links .links nav li:last-child{border-bottom:unset;}
	header#main-header .shortcut-links .links nav li.account img.avatar{height:55%;position:absolute;transform:translate(-50%,-50%);top:40%;right:-4%;}
	header#main-header .shortcut-links .coins{font-size:0.8em;color:#FFFFFF;float:right;margin-top:0.5%;}
	header#main-header .shortcut-links .coins .text{position:absolute;right:9%;}
	header#main-header .shortcut-links .coins i.gc{font-size:1.4em;margin-left:50%;}
	header#main-header .shortcut-links .links nav li.account span.notification{transform:translateX(-50%);right:unset;left:9%;top:5%;font-size:0.75em;}
	header#main-header .shortcut-links span.notification{background-color:#E43345;color:@color-tertiary;font-weight:bold;font-size:0.6em;border-radius:15px;padding:4px 8px;position:absolute;transform:translate(50%,-50%);top:34%;right:11%;}
	header#main-header .navbar-nav{margin:auto;}
	header#main-header .navbar-default .navbar-toggle{border-color:transparent;}
	header#main-header .navbar-default .navbar-toggle:focus, header#main-header .navbar-default .navbar-toggle:hover{background-color:transparent;}
	header#main-header .navbar-default .navbar-toggle .icon-bar{background-color:white;}
	header#main-header .navbar-default .navbar-toggle:focus .icon-bar, header#main-header .navbar-default .navbar-toggle:hover .icon-bar{background-color:@color-secundary;}
	header#main-header .navbar-default .navbar-collapse, header#main-header .navbar-default .navbar-form{border-color:transparent;border-top:unset;position:absolute;left:-100%;width:200%;padding:0%;background-color:@color-primary;}

	footer#main-footer{padding-top:5%;}
	footer#main-footer .logo img{width:35%;}
	footer#main-footer .copyright{font-size:1em;margin-top:1em;}
	footer#main-footer .top-space{margin-top:0.8em;}

	#most-played{font-size:0.9em;}
	#most-played .header{font-size:0.8em;}
	#most-played .games .left, #most-played .games .right{padding-top:25%;padding-left:0%;padding-right:0%;}
	#most-played .games .left .btn-most-played, #most-played .games .right .btn-most-played{font-size:0.5em;padding:0%;}

	#home .banner{margin-top:50%;padding-bottom:15%;}
	#home .banner::before{background-size:70%;top:-35%;}
	#home .banner .title{font-size:1.5em;margin-top:2%;}
	#home .banner .description{font-size:1.1em;}
	#home .banner .search{margin-top:3%;}
	#home .banner .search form{padding:1%;padding-left:4%;}
	#home .banner .search .search-params{border:2.5px solid #071428;border-radius:8px;font-size:0.8em;background-color:rgba(255,10,40,0.65);}
	#home .banner .search .search-params .filter{border:none;background-color:transparent;padding:2%;}
	#home .banner .search form > div{text-align:center !important;padding:1%;}
	#home .banner .search.white-search .btn-tertiary{width:2em;height:2em;font-size:0.75em;padding:14px;}

	#home .how-it-works .separator{width:1.5em;height:1.5em;top:-1.5em;}
	#home .how-it-works .title{font-size:1.3em;}
	#home section.how-it-works .title.first{font-size:1em;font-weight:bold;letter-spacing:2px;}
	#home .how-it-works .path-left.path-4h, #home .how-it-works .path-right.path-4h{padding-top:15%;}
	#home .how-it-works .square-box.first{width:2.3em;height:2.3em;right:10% !important;top:35%;}
	#home .how-it-works .path-left.path-3h, #home .how-it-works .path-right.path-3h{padding-top:6%;}
	#home .how-it-works .path-left.path-2h, #home .how-it-works .path-right.path-2h{padding-top:40%;}
	#home .how-it-works .path-left.path-2h.responsive-path-1, #home .how-it-works .path-right.path-2h.responsive-path-1{padding-top:8%;}
	#home .how-it-works .square-box.second{width:2.3em;height:2.3em;transform:translate(150%, 75%);}
	#home .how-it-works .step.first-step::before{top:-72%;width:60%}
	#home section.how-it-works .right-blue-box{padding:3% 1%;font-size:0.8em;}
	#home section.how-it-works .right-blue-box i, #home section.how-it-works .left-blue-box i{padding-right:4%;}
	#home .how-it-works .path-left.path-4h.responsive-path-2, #home .how-it-works .path-right.path-4h.responsive-path-2{padding-top:43%;}
	#home .how-it-works .step.second-step::before{top:-95%;right:4%;width:60%;padding-top:60%;}
	#home section.how-it-works .left-blue-box{padding:3% 1% 3% 6.5%;font-size:0.8em;}
	#home .how-it-works .rectangle-box.third{width:3.5em;height:2.5em;margin-top:-60%;left:-95%;}
	#home .how-it-works .path-left.path-2h.responsive-path-3, #home .how-it-works .path-right.path-2h.responsive-path-3{padding-top:5%;}
	#home section.how-it-works .step .title{font-size:1.5em;padding:1% 0% 1% 12%;}
	#home section.how-it-works .step.third-step{font-size:0.8em;padding-bottom:20%;}
	#home section.how-it-works .step.third-step::before{bottom:0%;left:-30%;background-size: 94%;padding-top:50%;}
	#home section.how-it-works .rectangle-box.fourth{width:3.5em;height:2.5em;top:85%;left:15%;}
	#home section.how-it-works .step.third-step .description{margin-bottom:6%;}

	#home .choose-by-cat{font-size:0.8em;}
	#home .choose-by-cat .games{top:-10%;bottom:-10%;left:65%;right:3%;}
	#home .choose-by-cat .categories{font-size:0.65em;}
	#home .choose-by-cat .categories .category{border-width: 3px;}
	#home .choose-by-cat .categories::-webkit-scrollbar-track{margin-left:20%;margin-right:20%;border-radius:15px;background-size:85%;}
	#home .choose-by-cat .categories::-webkit-scrollbar-thumb{background-size:35%;}
	#home .choose-by-cat .categories::-webkit-scrollbar{height:19px;}
	#home .choose-by-cat .games .game .previous, #home .choose-by-cat .games .game .next{font-size:2em;}
	#home .choose-by-cat .games .game .info{top:20%;}

	/* FAQs page: */
	#faqs{margin-top:25%;}
	#faqs section.faqs-title{margin-top:auto;padding-top:5%;padding-bottom: 2.5%;}
	#faqs section.faqs-title .line-1::before,{left:-1%;top:5%;}
	#faqs section.faqs-title .line-1::after{left:0%;top:20%;}
	#faqs section.faqs-title .line-2::before{right:-1%;bottom:25%;}
	#faqs section.faqs-title .line-2::after{right:-2%;bottom:10%;}
	#faqs section.body .questions{border:none;min-height:auto;}
	#faqs section.body .questions::before{content:"";height:4px;position:absolute;left:0;right:0;background:@color-primary;
	background:-webkit-linear-gradient(left, @color-secundary 35%, @color-primary-alt 65%);
	background:-o-linear-gradient(right, @color-secundary 35%, @color-primary-alt 65%);
	background:-moz-linear-gradient(right, @color-secundary 35%, @color-primary-alt 65%);
	background:linear-gradient(to right, @color-secundary 35%, @color-primary-alt 65%);}

	/* Login page: */
	#login{padding-top:25%;padding-bottom:0;}
	#login::before,#login::after{content:none;}
	#login img.signup-bg{width:200%;opacity:0.75;}
	#login section.signup,#login section.login{padding:10% 5%;}
	#login section.signup::before{content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-1;box-shadow:0px 0px 15px 5px @color-primary;
	background:@color-secundary;background:linear-gradient(45deg,@color-tertiary -45%,@color-secundary 35%);background:-webkit-linear-gradient(45deg,@color-tertiary -45%,@color-secundary 35%);background:-o-linear-gradient(45deg,@color-tertiary -45%,@color-secundary 35%);background:-moz-linear-gradient(225deg,@color-secundary 45%,@color-tertiary 155%);}
	#login section.login::after{content:"";position:absolute;top:0;bottom:0;left:0;right:0;z-index:-2;
	background:@color-primary-alt;background:linear-gradient(135deg,@color-primary-alt 60%,@color-tertiary 145%);background:-webkit-linear-gradient(135deg,@color-primary-alt 60%,@color-tertiary 145%);background:-o-linear-gradient(135deg,@color-primary-alt 60%,@color-tertiary 145%);background:-moz-linear-gradient(135deg,@color-primary-alt 60%,@color-tertiary 145%);}

	/* Account links: */
	#accountLinks{left:0;}
	#accountLinks nav li{padding-left:0;padding-right:0;}

	/* Account commons: */
	#account #profile section.contact-information,
	#account #profile section.contact-ruc,
	#account #profile section.contact-means,
	#account #profile section.games,
	#account #settings section.reviews,
	#account #games section.upload,
	#account #messages section.messages,
	#account #referred section.gamers,
	#account section.header .name{padding-top:2em!important;padding-bottom:2em!important;}
	#account section.header .name img{margin-bottom:10%;}
	#account section.header .name h1.title{margin:0;}
	#account section.security{padding:5%;}

	/* Account settings page: */
	#account #settings section.reviews .lender,#account #settings section.reviews .gamer{float:none;margin:auto;text-align:center;width:100%;}
	#account #settings section.reviews .lender>.header,#account #settings section.reviews .gamer>.header{padding:5% 0;}

	/* Account my games page: */
	#account #games section.header .coins,
	#account #games section.header .total{padding-left:10%;padding-right:10%;}
	#account #games section.header .coins::before,
	#account #games section.header .total::before{left:2.5em;}
	#account #games section.header .total .description{padding:0;}
	#account #games section.upload .subtitle{padding-left:5%;padding-right:5%;}
	#games .banner .search{margin-top:3%;}
	#games .banner .search form{padding:1%;padding-left:4%;}
	#games .banner .search .search-params{border-radius:8px;font-size:0.8em;background-color:rgba(255,10,40,0.65);}
	#games .banner .search .search-params .filter{border:none;background-color:transparent;padding:2%;}
	#games .banner .search form > div{text-align:center !important;padding:1%;}
	#games .banner .search.white-search .btn-tertiary{width:2em;height:2em;font-size:0.75em;padding:14px;}

	/* Account messages page: */
	#account #messages section.header .coins,
	#account #messages section.header .total{padding-left:10%;padding-right:10%;}
	#account #messages section.header .coins::before,
	#account #messages section.header .total::before{left:2.5em;}
	#account #messages section.header .total .description{padding:0;}
	#account #messages section.header{padding-bottom:0;}
	#account #messages section.messages .inbox{padding:4px;}
	#account #messages section.messages .inbox .list{padding:0;padding-bottom:4px;}
	#account #messages section.messages .inbox .list .head{margin-bottom:4px;}
	#account #messages section.messages .inbox .list .search{padding:3%;height:auto;position:relative;}
	#account #messages section.messages .inbox .list .search::before{top:auto;}
	#account #messages section.messages .inbox .list .scrollable{position:relative;}
	#account #messages section.messages .inbox .list .scrollable .no-messages{top:0;left:0;right:0;transform:none;text-align:center;width:100%;}
	#account #messages section.messages .inbox .detail{padding:0;}
	#account #messages section.messages .inbox .detail .head{margin-bottom:4px;}
	#account #messages section.messages .inbox .detail .canvas{height:96vw;}

	/* Referred page: */
	#account #referred section.header{padding-bottom:5%;}
	// #account #referred section.header .name{margin-bottom:20%;}
	// #account #referred section.header .name img{margin-bottom:10%;}
	#account #referred{background-position-x:center;background-size:auto;}
	#account #referred section.header::before{width:100%;background-position:right;background-position-y:bottom;background-position-x:7em;opacity:0.5;}
	#account #referred section.header .banner-information{padding-top:0;margin-left:0;padding-left:2em;}
	#account #referred section.header .banner-information::after{width:80%;left:10%;}
	#account #referred section.gamers img{margin:0;}

	#most-seen > hr.subtitle, #blog hr.subtitle{width:22%!important;}

	#notify.cg-notify-message.notify{width:75%;}
	.responsive-margin-bottom{margin-bottom:7%;}
	.responsive-padding-h-10{padding-left:10%;padding-right:10%;}

}
