@import url("/css/variables.less");

@media only screen and (max-width: 768px) {
	.row{margin:0;padding:0;}
	.row-left{margin:0;padding-left:0;}
	.row-right{margin:0;padding-right:0;}

	header .contacts{text-align:left;padding-left:0;}
	header#main-header{margin-bottom:-5%;}
	header#main-header .social-media,header#main-header .contacts{display:none;}
	header#main-header .shortcut-links{background:@color-primary;padding:0;}
	header#main-header .shortcut-links .navbar-default{margin-top:-3%;}
	header#main-header .shortcut-links img{width:100%;}
	header#main-header .shortcut-links .links{padding:2.5% 0%;}
	header#main-header .shortcut-links .links nav li{display:block;border-left:unset !important;text-align:center;border-bottom:2px solid @color-secundary;margin-left:10%;margin-right:10%;}
	header#main-header .shortcut-links .links nav li:last-child{border-bottom:unset;}
	header#main-header .shortcut-links .links nav li.account img.avatar{height:55%;position:absolute;transform:translate(-50%,-50%);top:40%;left:100%;}
	header#main-header .shortcut-links .coins{font-size:0.8em;color:#FFFFFF;float:left;margin-top:0.5%;margin-left:-13.5%;}
	header#main-header .shortcut-links .coins .text{position:absolute;left:3%;}
	header#main-header .shortcut-links .coins i.gc{font-size:1.4em;margin-left:50%;}
	header#main-header .shortcut-links .links nav li.account span.notification{transform:translateX(-50%);right:unset;left:9%;top:5%;font-size:0.75em;}
	header#main-header .shortcut-links span.notification{background-color:#E43345;color:@color-tertiary;font-weight:bold;font-size:0.6em;border-radius:15px;padding:4px 8px;position:absolute;transform:translate(50%,-50%);top:34%;right:11%;}
	header#main-header .navbar-nav{margin:auto;}
	header#main-header .navbar-default .navbar-toggle{border-color:transparent;}
	header#main-header .navbar-default .navbar-toggle:focus, header#main-header .navbar-default .navbar-toggle:hover{background-color:transparent;}
	header#main-header .navbar-default .navbar-toggle .icon-bar{background-color:white;}
	header#main-header .navbar-default .navbar-toggle:focus .icon-bar, header#main-header .navbar-default .navbar-toggle:hover .icon-bar{background-color:@color-secundary;}
	header#main-header .navbar-default .navbar-collapse, header#main-header .navbar-default .navbar-form{border-color:transparent;border-top:unset;position:absolute;left:-100%;width:200%;padding:0%;background-color:@color-primary;}

	footer#main-footer{padding-top:5%;}
	footer#main-footer .logo img{width:25%;}
	footer#main-footer .copyright{font-size:1em;margin-top:1em;}
	footer#main-footer .top-space{margin-top:0.8em;}

	#most-played{font-size:0.9em;}
	#most-played .header{font-size:0.8em;}
	#most-played .games .left, #most-played .games .right{padding-top:25%;padding-left:0%;padding-right:0%;}
	#most-played .games .left .btn-most-played, #most-played .games .right .btn-most-played{font-size:0.5em;padding:0%;}

	/* Account my games page: */
	#account #games section.header .coins,
	#account #games section.header .total{padding-left:10%;padding-right:10%;}
	#account #games section.header .coins::before,
	#account #games section.header .total::before{left:2.5em;}
	#account #games section.header .total .description{padding:0;}
	#account #games section.upload .subtitle{padding-left:5%;padding-right:5%;}


	#games .banner .search{margin-top:3%;}
	#games .banner .search form{padding:1%;padding-left:4%;}
	#games .banner .search .search-params{border-radius:8px;font-size:0.8em;background-color:rgba(255,10,40,0.65);}
	#games .banner .search .search-params .filter{border:none;background-color:transparent;padding:2%;}
	#games .banner .search form > div{text-align:center !important;padding:1%;}
	#games .banner .search.white-search .btn-tertiary{width:2em;height:2em;font-size:0.75em;padding:14px;}

	#most-seen > hr.subtitle, #blog hr.subtitle{width:22%!important;}

	#notify.cg-notify-message.notify{width:75%;}
	.responsive-margin-bottom{margin-bottom:7%;}
	.responsive-padding-h-10{padding-left:10%;padding-right:10%;}

	#game-item .information{font-size:0.75em;}
	#game-item .rating img.platform{height:12px;}
	#game-item .rating .content-rating img{width:100%;}
}
