/********** FONT      **********/
@font-face {font-family: "JosefinSans";src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");font-weight:400;font-style:normal;}
@font-face {font-family: "JosefinSans";src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");font-weight:700;font-style:normal;}
@font-face {font-family: "Jaapokki";src: url("../fonts/Jaapokki-Regular.otf") format("opentype");font-weight:400;font-style:normal;}
@font-face {font-family: "MyriadPro";src: url("../fonts/MyriadPro-Regular.otf") format("opentype");font-weight:400;font-style:normal;}
/*******************************/

*{font-family:"JosefinSans","FontAwesome","Glyphicons Halflings"!important;}
.row{margin-left:0;margin-right:0;padding:0 20%;}
.no-padding-left{padding-left:0;}
.no-padding-right{padding-right:0;}
.text-center{text-align:center !important;}
.text-right{text-align:right !important;}
.text-left{text-align:left !important;}
.upper-case{text-transform:uppercase;}
button{outline:0!important;}
input[disabled]{color:inherit;-webkit-text-fill-color:inherit;}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{padding-right:3.5%;padding-left:3.5%;}