/********** FONT      **********/
@font-face {font-family: "JosefinSans";src: url("../fonts/JosefinSans-Regular.ttf") format("truetype");font-weight:400;font-style:normal;}
@font-face {font-family: "JosefinSans";src: url("../fonts/JosefinSans-Bold.ttf") format("truetype");font-weight:700;font-style:normal;}
@font-face {font-family: "Jaapokki";src: url("../fonts/Jaapokki-Regular.otf") format("opentype");font-weight:400;font-style:normal;}
@font-face {font-family: "MyriadPro";src: url("../fonts/MyriadPro-Regular.otf") format("opentype");font-weight:400;font-style:normal;}
/*******************************/

*{font-family:"JosefinSans","FontAwesome","Glyphicons Halflings"!important;}
.row{margin-left:0;margin-right:0;padding:0 20%;}
.no-padding-left{padding-left:0;}
.no-padding-right{padding-right:0;}
.text-center{text-align:center;}
.text-right{text-align:right;}
.text-left{text-align:left;}
.upper-case{text-transform:uppercase;}
button{outline:0!important;}
