<div id="faqs">
	<div class="col-md-12 no-padding-h">
		<section class="faqs-title col-md-12">
			<div class="col-md-2"></div>

			<div class="col-md-8 col-xs-12">
				<span class="line-1">Preguntas</span>
				<br/>
				<span class="line-2">Frecuentas</span>
			</div>

			<div class="col-md-2"></div>
			<div class="clearfix"></div>
		</section>
	</div>

	<div class="col-md-12 no-padding-h">
		<section class="body">
			<div class="col-md-2"></div>

			<div class="col-md-8 col-xs-12">
				<div class="subtitle col-md-12">Recomendaciones para ti</div>

				<div class="col-md-12">
					<div class="categories col-md-4 col-xs-12">
						<ul class="list">
							<li class="item" ng-class="{'active': category.selected == true}" ng-repeat="category in categories" ng-click="categorySelected(category)">{{category.name}}</li>
						</ul>
					</div>

					<div class="questions col-md-8 col-xs-12">
						<img class="question-gamepad" src="img/faqs/question-gamepad.svg">

						<ul class="list" ng-if="!questionSelected && !isLoading">
							<li class="item" ng-repeat="faq in currentCategory.faqs" ng-if="!category.isLoading" ng-click="setQuestion(faq)">
								<img class="document-icon" src="img/faqs/document-icon.svg">
								<span class="document">{{faq.question}}</span>
							</li>
						</ul>

						<div class="loading" ng-if="isLoading">
							<loading showing="isLoading" width="2.5em"></loading>
						</div>

						<div class="answer" ng-if="questionSelected && !isLoading">
							<span class="head">{{questionSelected.question}}</span>
							<br/>
							<span class="body">{{questionSelected.answer}}</span>
						</div>
					</div>

					<div class="clearfix"></div>
				</div>

				<div class="clearfix"></div>
			</div>

			<div class="col-md-2"></div>
			<div class="clearfix"></div>
		</section>
	</div>

	<div class="clearfix"></div>
</div>