<div id="home">
    <section class="banner">
        <div class="row responsive-banner">
            <h1 class="upper-case title">Coming Soon</h1>
            <span class="description">Intercambia juegos con la comunidad gamer m&aacute;s grande del Ecuador.</span>
        </div>
    </section>
    <section class="contact-us" ng-if="!wasSubscribed">
        <div class="row">
            <form name="subscriberForm" class="col-md-12 contact-form" role="form" ng-submit="saveSubscriber(subscriberForm)" novalidate>
                <h2 class="title dark">Buscamos gamers</h2>
                <h2 class="title light">&iquest;Quieres saber m&aacute;s de <span class="game-font game-font-white">Game</span><span class="red-club">Club</span>?</h2>
                <span class="description">D&eacute;janos tu mail y participa para ser parte<br/>del lanzamiento de <span class="game-font">GAME</span>CLUB</span>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input name="name" placeholder="Nombre..." ng-model="publicUser.name" required class="complete" />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input placeholder="Apellido..." ng-model="publicUser.lastName" required class="complete" />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <date-selector ng-model="publicUser.birthDate" required />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ui-select ng-model="publicUser.province" theme="bootstrap" class="selector location" on-removed="provinceRemoved()" required>
                        <ui-select-match allow-clear placeholder="Provincia...">{{$select.selected.name | limitTo:30}}{{$select.selected.name.length > 30 ? '...' : ''}}</ui-select-match>
                        <ui-select-choices repeat="province in provinces | filter: $select.search">
                            <div ng-bind-html="province.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ui-select ng-model="publicUser.location" theme="bootstrap" class="selector location" required>
                        <ui-select-match allow-clear placeholder="Ciudad...">{{$select.selected.name | limitTo:30}}{{$select.selected.name.length > 30 ? '...' : ''}}</ui-select-match>
                        <ui-select-choices repeat="city in publicUser.province.children | filter: $select.search">
                            <div ng-bind-html="city.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <input name="email" type="email" placeholder="E-mail..." ng-model="publicUser.username" required class="complete" />
                </div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>

                <div class="col-md-4"></div>
                <div class="col-md-4 send-button">
                    <button type="submit" class="btn btn-secundary full">Enviar</button>
                </div>
                <div class="col-md-4"></div>
            </form>
        </div>
    </section>

    <section class="user-subscribed" ng-if="wasSubscribed">
        <div class="row">
            <div class="col-md-12 text-center box">
                <img src="img/gameclub-logo-vertical.svg">
                <h4>¡ Ya estas participando !</h1>
                <h6>Estamos preparando una sorpresa para<br/>la comunidad gamer del ecuador</h4>
            </div>
        </div>
    </section>

    <section id="how-it-works" class="how-it-works">
        <div class="separator"></div>
        <div class="row">
            <div class="col-md-6 col-xs-6 path-right path-4h"></div>
            <div class="col-md-6 col-xs-6 path-left path-4h">
                <div class="square-box first"></div>
            </div>
            <div class="clearfix"></div>

            <h2 class="col-md-12 title first">La comunidad <span class="game-font game-font-dark-blue">Gamer</span> del Ecuador</h2>

            <div class="col-md-6 col-xs-6 path-right path-3h complete-2px-br"></div>
            <div class="col-md-2 col-xs-4 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>

            <div class="col-md-4 col-xs-4"></div>
            <div class="col-md-2 col-xs-2">
                <div class="square-box second"></div>
            </div>
            <div class="col-md-2 col-xs-4 path-right path-top path-2h"></div>
            <div class="col-md-4 col-xs-2 path-left path-2h complete-1px-bl"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step first-step">
            <div class="col-md-6 col-xs-5">
                <div class="image"></div>
            </div>
            <div class="col-md-6 col-xs-7 right-blue-box text-left">
                <i class="gc gc-step-one"></i>
                <span class="text1">Alquila</span>
                <span class="text2">Juegos</span>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-2"></div>
            <div class="col-md-4 col-xs-8 path-right path-bottom path-2h complete-1px-bl complete-1px-br responsive-path-1"></div>
            <div class="col-md-4 col-xs-2 path-left path-2h complete-1px-bl responsive-path-1"></div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-xs-2 path-right path-4h complete-1px-br responsive-path-2"></div>
            <div class="col-md-4 col-xs-8 path-left path-top path-4h complete-1px-tr responsive-path-2"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>
        </div>
        <div class="step second-step">
            <div class="col-md-6 col-xs-8 left-blue-box text-left">
                <i class="gc gc-step-two"></i>
                <span class="text2">Gana</span>
                <span class="text1">Dinero</span>
                <!--span class="text1">Juegos</span-->
            </div>
            <div class="col-md-6 col-xs-4"><div class="rectangle-box third"></div></div>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-2 path-right path-3h complete-1px-br"></div>
            <div class="col-md-2 col-xs-4 path-left path-bottom path-3h complete-1px-br"></div>
            <div class="col-md-2 col-xs-4"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>

            <div class="col-md-4 col-xs-2 path-right"></div>
            <div class="col-md-2 col-xs-4 path-right path-top path-2h responsive-path-3"></div>
            <div class="col-md-2 col-xs-4 path-left path-2h complete-1px-bl responsive-path-3"></div>
            <div class="col-md-4 col-xs-2"></div>
            <div class="clearfix"></div>

            <div class="col-md-12">
                <div class="mini-separator"></div>
            </div>
        </div>
        <div class="step third-step">
            <div class="row">
                <div class="col-md-2 col-xs-3"><div class="rectangle-box fourth"></div></div>
                <div class="col-md-8 col-xs-6">
                    <h2 class="title">
                        <span>ALQUILA</span>
                        <span>LOS MEJORES</span>
                        <span>TITULOS DE TODAS</span>
                        <span>LAS CONSOLAS</span>
                    </h2>
                </div>
                <div class="col-md-2 col-xs-3"></div>
                <div class="clearfix"></div>
            </div>
            
        </div>
    </section>
    <most-seen ng-model="blogsPreview" pages="totalPagesMostSeen" active-page="currentPageMostSeen" class="most-seen" title="Blog" size="100" />
</div>